/* TYPOGRAPHY */
::selection {
  background-color: var(--c-hl);
  color: var(--c-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
h1 {
  font-size: clamp(2rem, 6vw, 2.5rem);
}
h2 {
  font-size: clamp(1.5rem, 4vw, 2.075rem);
}
h3 {
  font-size: clamp(1.15rem, 2vw, 1.575rem);
}
small {
  display: block;
}
p {
  line-height: 1.4;
  font-weight: 200;
  font-size: clamp(0.975rem, 2vw, 1.075rem);
}
b {
  font-weight: 500;
}
a {
  color: var(--c-hl);
}
hr {
  margin: 1rem 0;
  width: 1rem;
  display: block;
  position: relative;
  display: inline-block;
  color: var(--c-hl);
}
.dft {
  font-family: "Modak", cursive;
  font-weight: 400;
  font-size: clamp(3.15rem, 8vw, 4rem);
  line-height: 0.9;
}
