*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
img, picture, video, canvas, svg, .video-wrapper {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
small, p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-wrap: pretty;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-display: swap;
}
::-webkit-scrollbar {
  display: none;
}