/*  */
Body {
  background-color: var(--clr-bg-100);
  color: var(--clr-fg-100);
  padding-bottom: calc(var(--gr-gap) * 3);
}
body.nav-open,
body.overlay-open {
  overflow: hidden;
}
main {
  overflow-x: clip;
}
/* ---------------
  **
  FUNCTIONALITY SETUP
  **
--------------- */
main,
.overlay.brand-grid,
.overlay.dynamic-content {
  display: grid;
  gap: var(--gr-gap);
  grid-template-columns: var(--gr-c-l);
}
.overlay.brand-grid,
.overlay.dynamic-content {
  position: fixed;
  inset: 0;
  margin: 0 var(--gr-gap);
}
/* ---------- Brand-grid ---------- */
.overlay.brand-grid {
  z-index: 99; /* Change this later*/
  pointer-events: none;
}
.overlay.brand-grid > div {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.overlay.brand-grid > div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clr-hl-05);
  transition: height var(--transition);
  transition-delay: calc((var(--brand-delay) * 0.02s) + 0.2s);
}
.overlay.brand-grid > div span {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--clr-hl-20);
  transition: height var(--transition);
  transition-delay: calc(var(--brand-delay) * 0.02s);
}
body.brand-grid_toggled .overlay.brand-grid > div::after {
  height: 0;
  transition-delay: calc(var(--brand-delay) * 0.02s);
}
body.brand-grid_toggled .overlay.brand-grid > div span {
  height: 0;
  transition-delay: calc((var(--brand-delay) * 0.02s) + 0.2s);
}

/* ---------- Dynamic-content ---------- */
.overlay.dynamic-content {
  background-color: var(--clr-bg-100);
  padding: clamp(60px, 8.25vw, 9999rem) var(--gr-gap);
  z-index: 11;
  opacity: 0;
  transition: opacity var(--transition);
  pointer-events: none;
  align-items: start;
  overflow-y: scroll;
}
body.overlay-open .overlay.dynamic-content {
  top: 0%;
  opacity: 1;
  pointer-events: initial;
}

/* ---------------
  SPA Navigation
--------------- */
.spa-nav {
  position: fixed;
  align-items: flex-start;
  top: var(--gr-gap);
  z-index: 11; /* Change this later*/
  left: var(--gr-gap);
}
.spa-nav > ul {
  padding: 0;
  padding-top: clamp(60px, 8.25vw, 9999rem);
  list-style: none;
  pointer-events: all;
  display: inline-block;
}
nav li + li {
  margin-top: 0.5em;
}
nav li a {
  color: var(--clr-fg-50);
}
nav li.active a {
  color: var(--clr-fg-100);
}
/* ---------------
  SPA Settings
--------------- */
.spa-settings {
  --gr-gap: max(1rem, 1vw);
  position: fixed;
  align-items: flex-start;
  bottom: var(--gr-gap);
  left: var(--gr-gap);
  display: flex;
  flex-direction: column;
  gap: calc(var(--gr-gap) * 0.5);
  z-index: 12; /* Change this later*/
  transform: translateX(-20%);
}
.spa-settings > div,
.toggle.dynamic-content {
  border: 1px solid var(--clr-fg-100);
  border-radius: 999rem;
  height: max(calc(var(--gr-gap) * 2.5), 2vw);
  width: max(calc(var(--gr-gap) * 2.5), 2vw);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-bg-100);
}
.toggle.dynamic-content {
  --gr-gap: max(1rem, 1vw);
  position: fixed;
  padding: calc(var(--gr-gap) * 0.4);
  transform: translateX(20%);
  top: var(--gr-gap);
  right: var(--gr-gap);
  z-index: 13;
  opacity: 0;
  transition: opacity var(--transition);
}

.toggle.dynamic-content > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.toggle.dynamic-content > div::before,
.toggle.dynamic-content > div::after {
  display: block;
  content: "";
  position: absolute;
  width: calc(var(--gr-gap) * 1.5);
  height: 3px;
  background-color: var(--clr-fg-100);
  transition: transform var(--transition);
}
.toggle.dynamic-content > div::after {
  transform: rotate(0) translateY(calc(max(0.25rem, 0.25vw) * -1));
}
.toggle.dynamic-content > div::before {
  transform: rotate(0) translateY(max(0.25rem, 0.25vw));
}

body:is(.overlay-open, .nav-open) .toggle.dynamic-content > div::before {
  transform: rotate(45deg) translateY(0);
}
body:is(.overlay-open, .nav-open) .toggle.dynamic-content > div::after {
  transform: rotate(-45deg) translateY(0);
}
body:is(.overlay-open, .nav-open) nav > .toggle.dynamic-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
body.overlay-open .toggle.dynamic-content {
  opacity: 1;
}
/* ---------- Grid-toggle ---------- */
.toggle.brand-grid {
  position: relative;
  display: flex;
  padding: calc(var(--gr-gap) * 0.55);
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.toggle.brand-grid > span {
  content: "";
  display: block;
  height: 100%;
  width: 3px;
  background-color: var(--clr-fg-100);
  transition: height var(--transition);
  transition-delay: calc(var(--brand-delay) * 0.06s);
}
body.brand-grid_toggled .toggle.brand-grid > span {
  height: 0;
}
body.brand-grid_toggled .toggle.brand-grid > span:nth-child(odd) {
  height: 100%;
  animation: gridBounce 0.33s 2 alternate;
  animation-delay: calc(var(--brand-delay) * 0.06s);
}
@keyframes gridBounce {
  0% {
    height: 100%;
  }
  75% {
    height: 0;
  }
  100% {
    height: 0;
  }
}
/* ---------- Theme-slider ---------- */
div.theme-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: var(--gr-gap);
  transition: height var(--transition);
}
div.theme-selector:hover {
  height: calc(var(--gr-gap) * 14);
}
div.theme-selector > * {
  pointer-events: none;
}
div.theme-selector:hover > * {
  pointer-events: initial;
}
.theme-slider_wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.indicator-track {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  border-radius: var(--gr-gap);
  transform: translateY(calc(var(--gr-gap) * -0.55));
  transition: transform var(--transition);
  inset: calc(var(--gr-gap) * 0.75) 0;
}
div.theme-selector:hover .indicator-track {
  transform: translateY(0);
}
.indicator {
  display: block;
  position: relative;
  width: calc(var(--gr-gap) * 1.5);
  transition: top 0.15s ease-in-out;
}
body.theme-0 .indicator {
  top: 100%;
}
body.theme-1 .indicator {
  top: 87%;
}
body.theme-2 .indicator {
  top: 74.75%;
}
body.theme-3 .indicator {
  top: 62.5%;
}
body.theme-4 .indicator {
  top: 50%;
}
body.theme-5 .indicator {
  top: 37.75%;
}
body.theme-6 .indicator {
  top: 25%;
}
body.theme-7 .indicator {
  top: 12.75%;
}
body.theme-8 .indicator {
  top: 0%;
}
.indicator > div {
  position: absolute;
  height: calc(var(--gr-gap) * 1.5);
  width: calc(var(--gr-gap) * 1.5);
  transform: translateY(-50%);
  border: 3px solid var(--clr-fg-100);
  border-radius: 50%;
}
.dot-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
  border-radius: var(--gr-gap);
  inset: calc(var(--gr-gap) * 0.65) 0;
}
.dot {
  background-color: var(--clr-fg-50);
  padding: calc(var(--gr-gap) * 0.125);
  border-radius: 50%;
}
.dot:nth-child(4n + 1) {
  background-color: var(--clr-fg-100);
}
div.theme-selector:hover .dot {
  opacity: 1;
}
div.theme-slider_wrapper > input[type="range"] {
  writing-mode: vertical-lr;
  direction: rtl;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  box-shadow: none; 
  border-color: transparent;
}
div.theme-slider_wrapper > input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: calc(var(--gr-gap) * 1.5);
  height: calc(var(--gr-gap) * 1.5);
  background: none; 
  box-shadow: none;
  border: none; 
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(calc(var(--gr-gap) * 0.5));
  transition: transform var(--transition);
}
div.theme-slider_wrapper > input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
  width: calc(var(--gr-gap) * 1.5);
  border-color: transparent;
  color: transparent;
}
div.theme-slider_wrapper > input[type="range"]::-moz-range-thumb {
  width: calc(var(--gr-gap) * 1.5);
  height: calc(var(--gr-gap) * 1.5);
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
div.theme-slider_wrapper > input[type="range"]::-moz-range-track {
  background: transparent;
  border: none;
}
/* ---------------
  **
  **
  **
  **
  **
  **
  **
  **
  **
  Front-page Content Sections
  **
  **
  **
  **
  **
  **
  **
  **
  **
--------------- */
main > section {
  grid-column: 3 / -1;
  margin: 0 var(--gr-gap);
  background-color: var(--clr-bg-100);
  position: relative;
  display: flex;
  flex-direction: column;
}
main section:first-child {
  padding-top: clamp(60px, 8.25vw, 9999rem);
}
section + section {
  margin-top: calc(var(--gr-gap) * 8);
  padding: clamp(80px, 10vw, 99999rem) 0;
}
/* ---------- Skeleton ---------- */
.work .skeleton-article {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gr-gap) * 0.5);
}
.work .skeleton-article::before {
  display: block;
  content: "";
  aspect-ratio: 16/9;
  border-radius: max(4px, calc(var(--gr-gap) * 0.25));
  background-color: var(--clr-fg-25);
}
.work .skeleton-article > span {
  display: flex;
  gap: calc(var(--gr-gap) * 0.5);
}
.work .skeleton-article > span::before,
.work .skeleton-article > span::after {
  display: block;
  content: "";
  display: block;
  width: 100%;
  border-radius: max(4px, calc(var(--gr-gap) * 0.25));
  padding: var(--gr-gap);
  background-color: var(--clr-fg-25);
}
.thoughts .skeleton-article::before {
  display: block;
  content: "";
  width: 100%;
  border-radius: max(4px, calc(var(--gr-gap) * 0.25));
  padding: var(--gr-gap);
  background-color: var(--clr-fg-25);
}
.thoughts .skeleton-article:not(:last-child)::after {
  display: block;
  content: "";
  width: 100%;
  border: 1px solid var(--clr-fg-25);
  margin-top: var(--gr-gap);
}
/* ---------- Work ---------- */
.work .content {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: var(--gr-c-s);
  gap: var(--gr-gap);
}
.work .content article {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: calc(var(--gr-gap) * 0.5);
  min-width: 0 
}
.work .content .post-img_wrapper,
.hero {
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: max(4px, calc(var(--gr-gap) * 0.25));
}
.work .content .post-txt_wrapper {
  display: flex;
  gap: calc(var(--gr-gap) * 0.5);
  justify-content: space-between;
}
.work .content .post-txt_wrapper p {
  color: var(--clr-fg-50);
}
.work .content ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: calc(var(--gr-gap) * 0.5);
  list-style: none;
  padding: unset;
}
.work article .block-link {
  position: absolute;
  inset: 0;
}
.work article img,
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  background-color: var(--clr-fg-25);
}
/* ---------- Thoughts ---------- */
section.thoughts {
  display: grid;
  grid-template-columns: var(--gr-c-m);
  gap: calc(var(--gr-gap) * 4) var(--gr-gap);
}
section.thoughts .heading{
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: var(--gr-gap);
}
.thoughts .content {
  grid-column: 1/-2;
  display: flex;
  flex-direction: column;
  gap: var(--gr-gap);
}
.thoughts .content article {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: var(--gr-gap);
  border-bottom: 1px solid var(--clr-fg-25);
  gap: var(--gr-gap);
}
.thoughts .content article:first-of-type {
  border-top: 1px solid var(--clr-fg-25);
  padding: var(--gr-gap) 0;
}
.thoughts .content article:last-of-type {
  border-bottom: none;
}
.thoughts .content h3 {
  font-weight: 500;
  line-height: var(--ft-m-lh);
  max-width: 45ch;
}
/* -----------------------------------
  Section Intro
----------------------------------- */
.intro-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: max(.5rem, calc(var(--gr-gap) * .5));
  margin-top: calc(var(--gr-gap) * 3);
}
.intro-buttons > a {
  border: 1px solid var(--clr-fg-100);
  border-radius: max(4px, calc(var(--gr-gap) * 0.25));
  padding: 0.5em 1em;
}
.intro-buttons > a:first-child {
  background-color: var(--clr-fg-100);
  color: var(--clr-bg-100);
}
.intro-options {
  display: flex;
  gap: calc(var(--gr-gap) * 0.5);
  position: relative;
  user-select: none;
  scrollbar-width: none;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: calc(var(--gr-gap) * 6);
}
.intro-options .option {
  font-size: var(--ft-xs);
  white-space: nowrap;
  cursor: pointer;
  color: var(--clr-fg-50);
  padding: 0.5rem;
}
.intro-options .option:first-of-type {
  padding-left: 0;
}
.intro-options .option.active {
  color: var(--clr-fg-100);
}
.intro-options .option.active::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 0.66em;
  border-bottom: 1px solid var(--clr-fg-100);
}
.intro-content .message:not(.active) {
  display: none;
}
.intro-content .message {
  font-size: var(--ft-xl);
  line-height: var(--ft-m-lh);
  letter-spacing: var(--ft-m-ls);
  font-weight: 500;
  /* min-height: 10ch; */
}
.scroll-mask {
  width: 80px;
  height: 44px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  z-index: 2;
  transition: opacity var(--transition);
}
.scroll-mask.right {
  right: -1px;
  background: linear-gradient(
    to left,
    var(--clr-bg-100) 2%,
    var(--clr-bg-0) 100%
  );
}
.scroll-mask.left {
  left: -1px;
  background: linear-gradient(
    to right,
    var(--clr-bg-100) 2%,
    var(--clr-bg-0) 100%
  );
}
.scroll-mask.scrolled.right,
.scroll-mask.scrolled.left {
  opacity: 1;
}

/* Philosophy */
section.philosophy {
    gap: calc(var(--gr-gap) * 2.5) var(--gr-gap);
}
.philosophy .title {
  grid-column: 2 / -1;
}
.philosophy .message {
  grid-column: 3 / -1;
}
/* BACKGROUND */
main > section.background {
  display: grid;
  grid-template-columns: var(--gr-c-l);
  gap: var(--gr-gap);
  grid-column: 1/-1;
  z-index: 11;
}
section.background::before,
section.background::after {
  --position: calc(-6 * var(--gr-gap));
  --gradient: var(--clr-bg-100) 2%, var(--clr-bg-0) 100%;
  display: block;
  content: "";
  position: absolute;
  padding: calc(
    var(--gr-gap) * 3
  ); /* Revidera när typsättning och layout är klar. */
  left: 0;
  right: 0;
}
section.background::before {
  background: linear-gradient(to top, var(--gradient));
  top: var(--position);
}
section.background::after {
  background: linear-gradient(to bottom, var(--gradient));
  bottom: var(--position);
}
.background .title {
  padding: calc(var(--gr-gap) * 1.75) 0;
  grid-column: 1/-1;
}
.background .message {
  grid-column: -4/-1;
}
/* Experiences */
.experiences {
  display: grid;
  grid-template-columns: var(--gr-c-m);
  gap: calc(var(--gr-gap) * 6);
}

.experiences .title {
  padding: calc(var(--gr-gap) * 1.75) 0;
  grid-column: 1/-1;
}
.item-experience {
  display: grid;
  gap: calc(var(--gr-gap) * 1.5);
  grid-column: 1/-3;
}
.item-experience p + p {
  margin-top: 0;
}
.exp-company,
.desc-company {
  color: var(--clr-fg-50);
}
.title-company {
  font-size: var(--ft-xxl);
  line-height: var(--ft-l-lh);
  letter-spacing: var(--ft-m-ls);
  font-weight: 500;
}
.time-company > span {
  color: var(--clr-fg-50);
}
/* ------------
References
------------ */
#references {
  display: grid;
  grid-template-columns: var(--gr-c-m);
  gap: calc(var(--gr-gap) * 6) var(--gr-gap);
}
.item-references {
  grid-column: span 2;
}
#references .title {
  grid-column: 1/-1;
}
.quote-reference {
  font-weight: 500;
}
.author-reference {
  margin-top: 0.75em;
}
/* ------------
Contact section
------------ */
.contact {
  display: grid;
  gap: calc(var(--gr-gap) * 6);
}
.contact .title {
  font-size: var(--ft-xl);
  line-height: var(--ft-m-lh);
  letter-spacing: var(--ft-m-ls);
  font-weight: 500;
}
.contact .info {
  display: flex;
  gap: var(--gr-gap);
  flex-wrap: wrap;
}

article time {
  color: var(--clr-fg-50);
  font-size: var(--ft-xxs);
  margin-bottom: 0.5em;
  display: inline-block;
}
.thoughts .content article a {
  flex-shrink: 0;
  width: auto;
  padding: calc(var(--gr-gap) * 0.5) calc(var(--gr-gap) * 0.75);
  border-radius: max(4px, calc(var(--gr-gap) * 0.25));
  border: 1px solid var(--clr-fg-100);
}
article {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity var(--transition), transform var(--transition);
}
article.loaded {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--i) * 0.1s);
}
span:has(.load-more) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--gr-gap) * 3);
  grid-column: 1/-1;
}
.load-more {
  font-size: var(--ft-s);
  border-bottom: 1px solid var(--clr-fg-100);
  padding-bottom: 0.5em;
  cursor: pointer;
}













.illustration.one {
  left: 30.4%;
  bottom: 2.5%;
  width: clamp(144px, 10vw, 99999rem);
  height: auto;
  z-index: 4;
}
.illustration.two,
.illustration.three {
  right: 0;
  bottom: clamp(80px, 8vw, 99999rem);
}
.illustration.two {
  width: auto;
  height: clamp(128px, 10vw, 99999rem);
}
.illustration.three {
  width: clamp(162px, 14vw, 99999rem);
  height: auto;
  animation-delay: 0.5s;
}
.illustration {
  position: absolute;
  animation: wiggle 8s infinite steps(1);
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  6.25% {
    transform: rotate(0.6deg);
  }
  12.5% {
    transform: rotate(-0.4deg);
  }
  18.75% {
    transform: rotate(0.75deg);
  }
  25% {
    transform: rotate(-0.55deg);
  }
  31.25% {
    transform: rotate(0.3deg);
  }
  37.5% {
    transform: rotate(-0.825deg);
  }
  43.75% {
    transform: rotate(0.7deg);
  }
  50% {
    transform: rotate(-0.45deg);
  }
  56.25% {
    transform: rotate(0.8deg);
  }
  62.5% {
    transform: rotate(-0.65deg);
  }
  68.75% {
    transform: rotate(0.35deg);
  }
  75% {
    transform: rotate(-0.75deg);
  }
  81.25% {
    transform: rotate(0.6deg);
  }
  87.5% {
    transform: rotate(-0.25deg);
  }
  93.75% {
    transform: rotate(0.65deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.overlay.dynamic-content {
  margin: 0;
}
.overlay.dynamic-content > section {
  grid-column: 3 / -1;
  background-color: var(--clr-bg-100);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gr-gap) * 4);
}
.overlay.dynamic-content > section * {
width: 100%;
display: flex;
flex-direction: column;
gap: var(--gr-gap);
}
.overlay.dynamic-content > section .content-title {
  gap: calc(var(--gr-gap) * .5);
}

.overlay.dynamic-content > section :is(.content-image, .content-vimeo, video) {
  border-radius: max(4px, calc(var(--gr-gap) * 0.25));
  overflow: hidden;
  background-color: var(--clr-fg-25);
  position: relative;
}
.overlay.dynamic-content > section .content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}
.content-vimeo {
  width: 100%;
  aspect-ratio: 16/9; /* or set via inline style from JSON */
}

.content-vimeo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.overlay.dynamic-content p:not(.content-preamble) {
  line-height: var(--ft-s-lh);
}
.content-preamble {
  font-weight: 500;
  font-size: var(--ft-m);
}
.content-gallery {
  flex-direction: row!important;
  flex-wrap: wrap;
}
.content-gallery > * {
  width: calc(50% - (var(--gr-gap) * .5))!important;
}