/* -----------------------------------------
        LAYOUT
----------------------------------------- */
body {
  display: grid;
  grid-template-columns: var(--g-pdn) [content-start] var(--g-ct) [content-end] var(
      --g-pdn
    );
  background-color: var(--c-bg-100);
}
main {
  grid-column: content;

  display: grid;
  grid-template-columns: var(--gs-4);
  color: var(--c-fg-100);

  gap: var(--gap);
}
main > section {
  grid-column: 3/-1;

  padding-top: 2rem;
  min-height: 720px;/* REMOVE LATER*/
}

/* -----------------------------------------
        OVERLAY / NAV
----------------------------------------- */
.overlay,
nav {
  display: grid;
  grid-template-columns: var(--g-pdn) [content-start] var(--g-ct) [content-end] var(
      --g-pdn
    );
  position: fixed;
  inset: 0;
  pointer-events: none;
}
/* ----- NAV ----- */
body.overlay-active nav ul {
  opacity: 0;
}
nav ul {
  grid-column: content;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  pointer-events: all;
  max-width: 150px;
  transition: opacity var(--transition);
}
/* nav li */
nav li a {
  text-decoration: none;
  color: var(--c-fg-60);
}
nav li.active a {
  color: var(--c-fg-100);
}
.nav-mobile {
  opacity: 0;
  transition: opacity var(--transition);
  pointer-events: none;
  position: absolute;
  top: var(--gap);
  right: 0;
    grid-column: content;
}
.nav-settings {
  grid-column: content;
  position: relative;
}
.nav-settings > div {
  position: absolute;
  bottom: var(--gap);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  pointer-events: all;
}
/* ----- OVERLAY ----- */
.overlay {
  pointer-events: none;
  transition: background-color var(--transition);
}
.overlay > div {
  grid-column: content;
  display: grid;
  grid-template-columns: var(--gs-4);
  gap: var(--gap);
}
.overlay-grid {
  z-index: 99;
  pointer-events: none;
}
.overlay-grid > div {
  display: flex;
  justify-content: space-between;
}
.overlay-grid span {
  background-color: var(--c-fg-20);
  height: 100%;
  width: 1px;
  transition: height var(--transition);
  transition-delay: calc(var(--i) * .05s);
}
body.grid-active .overlay-grid span {
  height: 0px;
}
.overlay-content {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity var(--transition);
}
body.overlay-active .overlay-content {
  opacity: 1;
  pointer-events: all;
}
.overlay::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity var(--transition);
  background-color: var(--c-bg-100);
}
body:is(.overlay-active, .menu-active) .overlay::before {
  opacity: 1;
}
/* Settings */
.btn-setting {
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  background-color: var(--c-bg-100);
  border: 1px solid var(--c-fg-100);
  border-radius: 100px;
  gap: var(--gap);
}
.btn-setting span {
  background-color: var(--c-fg-100);
}
.btn-setting.overlay-toggle > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.btn-setting.overlay-toggle span {
  position: absolute;
  width: 100%;
  height: 3px;
  transition: transform var(--transition);
}
body:is(.overlay-active, .menu-active)
  .btn-setting.overlay-toggle
  span:first-child {
  transform: rotate(-45deg);
}
body:is(.overlay-active, .menu-active)
  .btn-setting.overlay-toggle
  span:last-child {
  transform: rotate(45deg);
}
body.overlay-active .nav-mobile {
  position: absolute;
  z-index: 1;
  opacity: 1;
  pointer-events: all;
}
.btn-setting.grid-toggle > div {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.btn-setting.grid-toggle span {
  height: 100%;
  width: 3px;
  transition: height var(--transition);
}
body.grid-active .btn-setting.grid-toggle span {
  height: 0px;
}
body.grid-active .btn-setting.grid-toggle span:nth-child(odd) {
  height: 100%;
  animation: gridBounce 0.33s 2 alternate;
  animation-delay: calc(var(--brand-delay) * 0.06s);
}
@keyframes gridBounce {
  0% {
    height: 100%;
  }
  75% {
    height: 0;
  }
  100% {
    height: 0;
  }
}
/* ---------- Theme-slider ---------- */
.btn-setting.theme-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: height var(--transition);
  position: relative;
}
.btn-setting.theme-picker:hover {
  height: 224px;
}
.btn-setting.theme-picker > * {
  pointer-events: none;
}
.btn-setting.theme-picker:hover input[type="range"] {
  pointer-events: initial;
}
input[type="range"] {
  writing-mode: vertical-lr;
  direction: rtl;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: calc(var(--gap) * 1.5);
  height: calc(var(--gap) * 1.5);
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
  width: calc(var(--gap) * 1.5);
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-moz-range-thumb {
  width: calc(var(--gap) * 1.5);
  height: calc(var(--gap) * 1.5);
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
input[type="range"]::-moz-range-track {
  background: transparent;
  border: none;
}

.dots-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  inset: 1.5rem 0;
}
.dot {
  height: 4px;
  width: 4px;
  background-color: var(--c-fg-40);
  border-radius: 3px;
}
.dot:nth-child(3n + 1) {
  background-color: var(--c-fg-100);
}

.integer {
  position: absolute;
  inset: 0.8rem 0.8rem 2.35rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.integer::after {
  content: "";
  display: block;
  min-height: 1.5rem;
  width: 1.5rem;
  border: 3px solid var(--c-fg-100);
  position: relative;
  transition: top var(--transition);
  top: -1px;
  border-radius: 100px;
}
.btn-setting.theme-picker:hover .integer::after {
  transition: top .2s;
}
body.theme-0 .btn-setting.theme-picker:hover .integer::after {
  top: 100%;
}
body.theme-1 .btn-setting.theme-picker:hover .integer::after {
  top: 83.33333333%;
}
body.theme-2 .btn-setting.theme-picker:hover .integer::after {
  top: 66.66666667%;
}
body.theme-3 .btn-setting.theme-picker:hover .integer::after {
  top: 50%;
}
body.theme-4 .btn-setting.theme-picker:hover .integer::after {
  top: 33.33333333%;
}
body.theme-5 .btn-setting.theme-picker:hover .integer::after {
  top: 16.66666667%;
}
body.theme-6 .btn-setting.theme-picker:hover .integer::after {
  top: 0;
}

body:has(.btn-setting.theme-picker:hover),
body:is(.menu-active, .overlay-active) {
  overflow: hidden;
}
/* -----------------------------------------
        SLASK
----------------------------------------- */
.btn {
  padding: 0.7em 1.2em;
  background-color: var(--c-fg-100);
  display: inline-block;
  color: var(--c-bg-100);
  border-radius: 100px;
}
.btn > * {
  color: var(--c-bg-100);
}
