/* -----------------------------------------
        LAYOUT
----------------------------------------- */
body {
  display: grid;
  grid-template-columns: var(--g-pdn) [content-start] var(--g-ct) [content-end] var(
      --g-pdn
    );
  background-color: var(--c-bg-100);
  padding-top: clamp(5rem,5vw,10rem);
}
main {
  grid-column: content;

  display: grid;
  grid-template-columns: var(--gs-4);
  color: var(--c-fg-100);

  gap: var(--gap);
}
main > section {
  grid-column: 3/-1;

  position: relative;
  min-height: 720px; /* REMOVE LATER*/
}

/* -----------------------------------------
        OVERLAY / NAV
----------------------------------------- */
.overlay,
nav {
  display: grid;
  grid-template-columns: var(--g-pdn) [content-start] var(--g-ct) [content-end] var(
      --g-pdn
    );
  position: fixed;
  inset: 0;
  pointer-events: none;
}
nav {
  padding-top: clamp(5rem,5vw,10rem);}
/* ----- NAV ----- */
body.overlay-active nav ul {
  opacity: 0;
}
nav ul {
  grid-column: content;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  pointer-events: all;
  max-width: 150px;
  transition: opacity var(--transition);
}
/* nav li */
nav li a {
  text-decoration: none;
  color: var(--c-fg-60);
}
nav li:hover a {
  text-decoration: underline;
  cursor: pointer;
}
nav li.active a {
  color: var(--c-fg-100);
}
.nav-mobile {
  opacity: 0;
  transition: opacity var(--transition);
  pointer-events: none;
  position: absolute;
  top: var(--gap);
  right: 0;
  grid-column: content;
}
.nav-settings {
  grid-column: content;
  position: relative;
}
.nav-settings > div {
  position: absolute;
  bottom: var(--gap);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  pointer-events: all;
}
/* ----- OVERLAY ----- */
.overlay {
  pointer-events: none;
  transition: background-color var(--transition);
  z-index: 99;
}
.overlay > div {
  grid-column: content;
  display: grid;
  grid-template-columns: var(--gs-4);
  gap: var(--gap);
}
.overlay-grid {
  z-index: 99;
  pointer-events: none;
}
.overlay-grid > div {
  display: flex;
  justify-content: space-between;
}
.overlay-grid span {
  background-color: var(--c-fg-20);
  height: 100%;
  width: 1px;
  transition: height var(--transition);
  transition-delay: calc(var(--i) * 0.05s);
}
body.grid-active .overlay-grid span {
  height: 0px;
}
.overlay-content {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity var(--transition);
}
body.overlay-active .overlay-content {
  opacity: 1;
  pointer-events: all;
}
.overlay::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity var(--transition);
  background-color: var(--c-bg-100);
}
body:is(.overlay-active, .menu-active) .overlay::before {
  opacity: 1;
}
/* Settings */
.btn-setting {
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  background-color: var(--c-bg-100);
  border: 1px solid var(--c-fg-100);
  border-radius: 100px;
  gap: var(--gap);
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  cursor:pointer;
}
.btn-setting span {
  background-color: var(--c-fg-100);
}
.btn-setting.overlay-toggle > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.btn-setting.overlay-toggle span {
  position: absolute;
  width: 100%;
  height: 3px;
  transition: transform var(--transition);
}
body:is(.overlay-active, .menu-active)
  .btn-setting.overlay-toggle
  span:first-child {
  transform: rotate(-45deg);
}
body:is(.overlay-active, .menu-active)
  .btn-setting.overlay-toggle
  span:last-child {
  transform: rotate(45deg);
}
body.overlay-active .nav-mobile {
  position: absolute;
  z-index: 1;
  opacity: 1;
  pointer-events: all;
}
.btn-setting.grid-toggle > div {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.btn-setting.grid-toggle span {
  height: 100%;
  width: 3px;
  transition: height var(--transition);
}
body.grid-active .btn-setting.grid-toggle span {
  height: 0px;
}
body.grid-active .btn-setting.grid-toggle span:nth-child(odd) {
  height: 100%;
  animation: gridBounce 0.33s 2 alternate;
  animation-delay: calc(var(--brand-delay) * 0.06s);
}
@keyframes gridBounce {
  0% {
    height: 100%;
  }
  75% {
    height: 0;
  }
  100% {
    height: 0;
  }
}
/* ---------- Theme-slider ---------- */
.btn-setting.theme-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: height var(--transition);
  position: relative;
}

.btn-setting.theme-picker > * {
  pointer-events: none;
}

@media (hover: hover) {
  .btn-setting.theme-picker:hover {
    height: 224px;
  }
  .btn-setting.theme-picker:hover input[type="range"] {
    pointer-events: initial;
  }
  .btn-setting.theme-picker:hover .integer::after {
    transition: top 0.2s;
  }
}

@media (hover: none) {
  .btn-setting.theme-picker.expanded {
    height: 224px;
  }
  .btn-setting.theme-picker.expanded input[type="range"] {
    pointer-events: initial;
  }
  .btn-setting.theme-picker.expanded .integer::after {
    transition: top 0.2s;
  }
  body:has(.btn-setting.theme-picker.expanded) {
    overflow: hidden;
  }
}

/* Theme positions */
body.theme-0 .btn-setting.theme-picker:is(:hover, .expanded) .integer::after {
  top: 100%;
}
body.theme-1 .btn-setting.theme-picker:is(:hover, .expanded) .integer::after {
  top: 83.33333333%;
}
body.theme-2 .btn-setting.theme-picker:is(:hover, .expanded) .integer::after {
  top: 66.66666667%;
}
body.theme-3 .btn-setting.theme-picker:is(:hover, .expanded) .integer::after {
  top: 50%;
}
body.theme-4 .btn-setting.theme-picker:is(:hover, .expanded) .integer::after {
  top: 33.33333333%;
}
body.theme-5 .btn-setting.theme-picker:is(:hover, .expanded) .integer::after {
  top: 16.66666667%;
}
body.theme-6 .btn-setting.theme-picker:is(:hover, .expanded) .integer::after {
  top: 0;
}
input[type="range"] {
  writing-mode: vertical-lr;
  direction: rtl;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: calc(var(--gap) * 1.5);
  height: calc(var(--gap) * 1.5);
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
  width: calc(var(--gap) * 1.5);
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-moz-range-thumb {
  width: calc(var(--gap) * 1.5);
  height: calc(var(--gap) * 1.5);
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
input[type="range"]::-moz-range-track {
  background: transparent;
  border: none;
}

.dots-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  inset: 1.5rem 0;
}
.dot {
  height: 4px;
  width: 4px;
  background-color: var(--c-fg-40);
  border-radius: 3px;
}
.dot:nth-child(3n + 1) {
  background-color: var(--c-fg-100);
}

.integer {
  position: absolute;
  inset: 0.8rem 0.8rem 2.35rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.integer::after {
  content: "";
  display: block;
  min-height: 1.5rem;
  width: 1.5rem;
  border: 3px solid var(--c-fg-100);
  position: relative;
  box-sizing: border-box;
  transition: top var(--transition);
  top: -1px;
  border-radius: 100px;
}
body:has(.btn-setting.theme-picker.expanded),
body:is(.menu-active, .overlay-active) {
  overflow: hidden;
}
.btn {
  padding: 0.4em 1.2em;
  display: inline-block;
  color: var(--c-fg-100);
  border-radius: 100px;

      font-size: var(--fs-1);
    cursor: pointer;
    border: 1px solid var(--c-fg-100);
}
.btn:hover {
  text-decoration: underline;
}
.btn.inverted {
  color: var(--c-bg-100);
  background-color: var(--c-fg-100);
}
article.work-preview .img-wrapper {
  background-color: var(--c-fg-20);
  aspect-ratio: 2/1;
  overflow: hidden;
  display: grid;
  align-content: center;
  position: relative;
  border-radius: .5rem;
}
article.work-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.work-preview_content {
    display: flex;
    justify-content: space-between;
    margin-top: var(--gap);
}
.work-info > p:last-child {
  color: var(--c-fg-40);
  line-height: 1;
}
article.blog-preview {
    display: flex;
  border-bottom: 1px solid var(--c-fg-60);
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 0;
}
article.blog-preview:last-of-type {
  border-bottom: none;
}
article.blog-preview .btn {
  font-size: var(--fs-0);
  border-radius: calc(var(--gap) / 2);
}
article.blog-preview small {
  color: var(--c-fg-40);
}
article.hidden {
  opacity: 0;
  transform: translateY(20px);
}
article {
  transition: opacity var(--transition), transform var(--transition);
}


/* -----------------------------------
  Section Intro
----------------------------------- */
#available {
  padding-top: clamp(60px, 8.25vw, 9999rem) !important;
}
.intro-content,
.intro-buttons {
  margin-top: clamp(3rem, calc(var(--gap) * 3.5), 100vw);
}
.intro-content .message {
  letter-spacing: -.0333em;
  line-height: 1.1;
  font-size: clamp(2.25em, 3.35vw, 3.35rem);
}
.intro-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.intro-buttons > a {
  border: 1px solid var(--c-fg-100);
  border-radius: 999rem;
  padding: 0.5em 1em;
}
.intro-buttons > a:first-child {
  background-color: var(--c-fg-100);
  color: var(--c-bg-100);
}
.intro-options {
  display: flex;
  gap: calc(var(--gap) * 0.5);
  margin-bottom: calc(var(--gap) * 1.5);
  position: relative;
  user-select: none;
  scrollbar-width: none;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
small.option {
  white-space: nowrap;
  cursor: pointer;
  color: var(--c-fg-60);
  padding: 0.5rem;
}
small.option:first-of-type {
  padding-left: 0;
}
small.option.active {
  color: var(--c-fg-100);
}
small.option.active::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 0.33em;
  border-bottom: 1px solid var(--c-fg-100);
}
.intro-content .message:not(.active) {
  display: none;
}
.scroll-mask {
  width: 80px;
  height: 44px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease;
}
.scroll-mask.right {
  right: -1px;
  background: linear-gradient(to left, var(--c-bg-100) 2%, var(--c-bg-0) 100%);
}
.scroll-mask.left {
  left: -1px;
  background: linear-gradient(to right, var(--c-bg-100) 2%, var(--c-bg-0) 100%);
}
.scroll-mask.scrolled.right,
.scroll-mask.scrolled.left {
  opacity: 1;
}


/* -----------------------------------
  Section Work
----------------------------------- */
.work-grid {
  display: grid;
  grid-template-columns: var(--gs-2);
  gap: var(--gap);
    justify-items: center;
}