/* Color
----------------------------------------------------------------------------- */

body.theme-8 {
  --clr-fg-100: rgb(255, 236, 207);
  --clr-fg-50: rgb(255 236 207 / 0.5);
  --clr-fg-25: rgb(255 236 207 / 0.15);

  --clr-bg-100: rgb(28 28 28 / 1);
  --clr-bg-0: rgb(28 28 28 / 0);

  --clr-hl-100:red;
  --clr-hl-20: rgb(255 236 207 / 0.35);
  --clr-hl-05: rgb(255 236 207 / 0);
}

body.theme-7 {
  --clr-fg-100: rgb(243 230 207 / 1);
  --clr-fg-50: rgb(243 230 207 / 0.6);
  --clr-fg-25: rgb(243 230 207 / 0.22);

  --clr-bg-100: rgb(233 79 14 / 1);
  --clr-bg-0: rgb(233 79 14 / 0);

  --clr-hl-100:rgb(28 28 28 / 1);
  --clr-hl-20: rgb(243 230 207 / 0.35);
  --clr-hl-05: rgb(243 230 207 / 0.05);
}
body.theme-6 {
  --clr-bg-100: rgb(238 238 238 / 1);
  --clr-bg-15: rgb(238 238 238 / 0.5);
  --clr-bg-0: rgb(238 238 238 / 0);

  --clr-fg-100: rgb(228 47 37/ 1);
  --clr-fg-50: rgb(228 47 37/ 0.5);
  --clr-fg-25: rgb(228 47 37/ 0.33);
  --clr-fg-15: rgb(228 47 37/ 0.15);

  --clr-hl-100:rgb(255 199 0 / 1);
  --clr-hl-20: rgb(255 199 0 / 0.35);
  --clr-hl-05: rgb(255 199 0 / 0.05);
}
body.theme-5 {
  --clr-fg-100:rgb(38 23 13);
  --clr-fg-50:rgb(38 23 13 / .5);
  --clr-fg-25:rgb(38 23 13 / .33);
  --clr-fg-15:rgb(38 23 13 / .15);

  --clr-hl-100:red;
  --clr-hl-20:rgb(38 23 13 / .1);
  --clr-hl-05:rgb(38 23 13 / 0.05);

  --clr-bg-100:rgb(255 236 207);
  --clr-bg-15:rgb(255 236 207 / .15);
  --clr-bg-0:rgb(255 236 207 / 0);
}


body.theme-4 {
  --clr-bg-100: rgb(238 238 238 / 1);
  --clr-bg-15: rgb(238 238 238 / 0.5);
  --clr-bg-0: rgb(238 238 238 / 0);

  --clr-fg-100: rgb(28 28 28 / 1);
  --clr-fg-50: rgb(28 28 28 / 0.5);
  --clr-fg-25: rgb(28 28 28 / 0.33);
  --clr-fg-15: rgb(28 28 28 / 0.15);

  --clr-hl-100:red;
  --clr-hl-20: rgb(28 28 28 / 0.1);
  --clr-hl-05: rgb(28 28 28 / 0.025);
}
body.theme-3 {
    --clr-fg-100: rgb(19 23 56);
  --clr-fg-50: rgb(19 23 56 / 0.6);
  --clr-fg-25: rgb(19 23 56 / 0.22);

  --clr-bg-100: rgb(232 238 248 / 1);
  --clr-bg-0: rgb(232 238 248 / 0);

  --clr-hl-100:red;
  --clr-hl-20: rgb(19 23 56 / 0.15);
  --clr-hl-05: rgb(19 23 56 / 0.05);
}
body.theme-2 {
  --clr-bg-100: rgb(238 238 238 / 1);
  --clr-bg-15: rgb(238 238 238 / 0.5);
  --clr-bg-0: rgb(238 238 238 / 0);

  --clr-fg-100: rgb(37 0 201 / 1) ;
  --clr-fg-50: rgb(37 0 201 / 0.5);
  --clr-fg-25: rgb(37 0 201 / 0.33);
  --clr-fg-15: rgb(37 0 201 / 0.15);

  --clr-hl-100:red;
  --clr-hl-20: rgb(255 199 0 / 0.3);
  --clr-hl-05: rgb(255 199 0 / 0.1);
}
body.theme-1 {
  --clr-fg-100: rgb(232 238 248 / 1);
  --clr-fg-50: rgb(232 238 248 / 0.6);
  --clr-fg-25: rgb(232 238 248 / 0.22);

  --clr-bg-100: rgb(37 0 201 / 1);
  --clr-bg-0: rgb(37 0 201 / 0); 

  --clr-hl-100:red;
  --clr-hl-20: rgb(195 235 241 / 0.33);
  --clr-hl-05: rgb(195 235 241 / 0.05);
}
body.theme-0 {
  --clr-fg-100: rgb(238 238 238 / 1);
  --clr-fg-50: rgb(238 238 238 / 0.6);
  --clr-fg-25: rgb(238 238 238 / 0.22);

  --clr-bg-100: rgb(19 23 56 / 1);
  --clr-bg-0: rgb(19 23 56 / 0);

  --clr-hl-100:red;
  --clr-hl-20: rgb(255 199 0 / 0.2);
  --clr-hl-05: rgb(255 199 0 / 0.05);
}

.post-img_wrapper {
  position: relative;;
}
.post-img_wrapper::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}
body.theme-6 .post-img_wrapper::after {
  background-color: var(--clr-fg-100);
  mix-blend-mode: screen;
  opacity: .33;
}
body.theme-1 .post-img_wrapper::after,
body.theme-7 .post-img_wrapper::after {
    background-color: var(--clr-bg-100);
    mix-blend-mode: lighten;
    opacity: 0.825;
}

body.theme-0 .post-img_wrapper img {
  filter: brightness(.825);
}


