/* Color
----------------------------------------------------------------------------- */

body.theme-8 {
  --clr-fg-100: rgb(243 230 207 / 1);
  --clr-fg-50: rgb(243 230 207 / 0.6);
  --clr-fg-25: rgb(243 230 207 / 0.22);

  --clr-bg-100: rgb(233 79 14 / 1);
  --clr-bg-0: rgb(233 79 14 / 0);

  --clr-hl-100: rgb(28 28 28 / 1);
  --clr-hl-20: rgb(243 230 207 / 0.35);
  --clr-hl-05: rgb(243 230 207 / 0.05);
}

body.theme-7 {
  --clr-bg-100: rgb(210 58 38 / 1);
  --clr-bg-0: rgb(210 58 38 / 0);

  --clr-fg-100: rgb(255 227 163);
  --clr-fg-50: rgb(255 227 163/ 0.5);
  --clr-fg-25: rgb(255 227 163/ 0.33);
  --clr-fg-15: rgb(255 227 163/ 0.15);

  --clr-hl-100: rgb(210 58 38 / 1);
  --clr-hl-20: rgb(255 227 163 / 0.25);
  --clr-hl-05: rgb(255 227 163 / 0);
}
body.theme-6 {
  --clr-bg-100: rgb(255 240 206);
  --clr-bg-0: rgb(255 240 206 / 0);

  --clr-fg-100: rgb(185 27 19);
  --clr-fg-50: rgb(185 27 19/ 0.5);
  --clr-fg-25: rgb(185 27 19/ 0.33);
  --clr-fg-15: rgb(185 27 19/ 0.15);

  --clr-hl-100: rgb(255 255 255 / 0.75);
  --clr-hl-20: rgb(185 27 19 / 0.15);
  --clr-hl-05: rgb(185 27 19 / 0.025);
}
body.theme-5 {
  --clr-bg-100: rgb(238 238 238 / 1);
  --clr-bg-0: rgb(238 238 238 / 0);

  --clr-fg-100: rgb(228 47 37/ 1);
  --clr-fg-50: rgb(228 47 37/ 0.5);
  --clr-fg-25: rgb(228 47 37/ 0.33);
  --clr-fg-15: rgb(228 47 37/ 0.15);

  --clr-hl-100: rgb(255 199 0 / 1);
  --clr-hl-20: rgb(255 199 0 / 0.35);
  --clr-hl-05: rgb(255 199 0 / 0.05);
}

body.theme-4 {
  --clr-bg-100: rgb(238 238 238 / 1);
  --clr-bg-0: rgb(238 238 238 / 0);

  --clr-fg-100: rgb(28 28 28 / 1);
  --clr-fg-50: rgb(28 28 28 / 0.5);
  --clr-fg-25: rgb(28 28 28 / 0.33);
  --clr-fg-15: rgb(28 28 28 / 0.15);

  --clr-hl-100: rgb(28 28 28 / 1);
  --clr-hl-20: rgb(28 28 28 / 0.25);
  --clr-hl-05: rgb(28 28 28 / 0.025);
}
body.theme-3 {
  --clr-bg-100: rgb(238 238 238 / 1);
  --clr-bg-0: rgb(238 238 238 / 0);

  --clr-fg-100: rgb(37 0 201 / 1);
  --clr-fg-50: rgb(37 0 201 / 0.5);
  --clr-fg-25: rgb(37 0 201 / 0.33);
  --clr-fg-15: rgb(37 0 201 / 0.15);

  --clr-hl-100: rgb(255 199 0 / 0.85);
  --clr-hl-20: rgb(255 199 0 / 0.3);
  --clr-hl-05: rgb(255 199 0 / 0.1);
}
body.theme-2 {
  --clr-bg-100: rgb(216 235 242 / 1);
  --clr-bg-0: rgb(216 235 242 / 0);

  --clr-fg-100: rgb(22 17 126 / 1);
  --clr-fg-50: rgb(22 17 126 / 0.5);
  --clr-fg-25: rgb(22 17 126 / 0.33);
  --clr-fg-15: rgb(22 17 126 / 0.15);

  --clr-hl-100: rgb(22 17 126 / 1);
  --clr-hl-20: rgb(22 17 126 / 0.25);
  --clr-hl-05: rgb(22 17 126 / 0.025);
}
body.theme-1 {
  --clr-fg-100: rgb(210 245 255 / 1);
  --clr-fg-50: rgb(210 245 255 / 0.5);
  --clr-fg-25: rgb(210 245 255 / 0.25);
  --clr-fg-15: rgb(210 245 255 / 0.15);

  --clr-bg-100: rgb(71 133 186 / 1);
  --clr-bg-0: rgb(71 133 186 / 0);

  --clr-hl-20: rgb(210 245 255 / 0.6725);
  --clr-hl-05: rgb(210 245 255 / 0);
}
body.theme-0 {
  --clr-fg-100: rgb(232 238 248 / 1);
  --clr-fg-50: rgb(232 238 248 / 0.6);
  --clr-fg-25: rgb(232 238 248 / 0.22);

  --clr-bg-100: rgb(37 0 201 / 1);
  --clr-bg-0: rgb(37 0 201 / 0);

  --clr-hl-100: orange;
  --clr-hl-20: rgb(195 235 241 / 0.33);
  --clr-hl-05: rgb(195 235 241 / 0.05);
}

.post-img_wrapper {
  position: relative;
}
.post-img_wrapper::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}
body.theme-2 .post-img_wrapper::after,
body.theme-6 .post-img_wrapper::after,
body.theme-2 .theme-aware::after,
body.theme-6 .theme-aware::after  {
  background-color: var(--clr-fg-100);
  mix-blend-mode: screen;
  opacity: 0.33;
}
body.theme-1 .post-img_wrapper::after,
body.theme-7 .post-img_wrapper::after,
body.theme-1 .theme-aware::after,
body.theme-7 .theme-aware::after  {
  background-color: var(--clr-bg-100);
  mix-blend-mode: lighten;
  opacity: 0.33;
}
body.theme-0 .post-img_wrapper::after,
body.theme-8 .post-img_wrapper::after,
body.theme-0 .theme-aware::after,
body.theme-8 .theme-aware::after {
  background-color: var(--clr-bg-100);
  mix-blend-mode: lighten;
  opacity: 0.425;
}
body.theme-4 .post-img_wrapper img {
  opacity: 0.9;
}
.theme-aware {
  position: relative;
}

body.theme-2 .theme-aware::after,
body.theme-6 .theme-aware::after,
body.theme-1 .theme-aware::after,
body.theme-7 .theme-aware::after,
body.theme-0 .theme-aware::after,
body.theme-8 .theme-aware::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}