:root {
  --font-family: Inter, sans-serif;
  --font-weight: 400;
  --font-style: normal;
  --font-feature-settings: "liga", "ss02", "ss03", "ss04", "ss06";
  --font-size-huge: clamp(32px, 3.25vw, 82px);
  --font-size-large: clamp(26px, 2.25vw, 64px);
  --font-size-medium: clamp(26px, 1.15vw,44px);
  --font-size-regular: clamp(16px, .9vw,32px);
  --font-size-regular-line-height: 1.25;

  --color-foreground-100: rgb(238 238 238 / 1);
  --color-foreground-50:  rgb(238 238 238 / 0.5);
  --color-foreground-33:  rgb(238 238 238 / 0.333);
  --color-foreground-25:  rgb(238 238 238 / 0.25);
  --color-foreground-20:  rgb(238 238 238 / 0.2);
  --color-foreground-15:  rgb(238 238 238 / 0.15);
  --color-foreground-10:  rgb(238 238 238 / 0.1);
  --color-foreground-5:   rgb(238 238 238 / 0.05);
  --color-foreground-0:   rgb(238 238 238 / 0);
  --color-background-100: rgb(32 32 32 / 1);
  --color-background-0:   rgb(32 32 32 / 0);
  --color-accent-100: rgb(255 199 0 / 1);
  --color-accent-25: rgb(255 199 0 / .25);
  --color-accent-5:   rgb(255 199 0 / .05);

  --grid-gap: clamp(16px, 1vw, 32px);
  --columns-large: repeat(5, 1fr);
  --columns-medium: repeat(4, 1fr);
  --columns-small: repeat(2, 1fr);

  --responsive-grid-max-width: 1780px;
}


@media (prefers-color-scheme: light) {
  :root {
  --color-foreground-100: rgb(32 32 32 / 1);
  --color-foreground-50:  rgb(32 32 32 / 0.5);
  --color-foreground-33:  rgb(32 32 32 / 0.333);
  --color-foreground-25:  rgb(32 32 32 / 0.25);
  --color-foreground-20:  rgb(32 32 32 / 0.2);
  --color-foreground-15:  rgb(32 32 32 / 0.15);
  --color-foreground-10:  rgb(32 32 32 / 0.1);
  --color-foreground-5:   rgb(32 32 32 / 0.05);
  --color-foreground-0:   rgb(32 32 32 / 0);
  --color-background-100: rgb(238 238 238 / 1);
  --color-background-0:   rgb(238 238 238 / 0);
  --color-accent-100: rgb(255 199 0 / 1);
  --color-accent-25: rgb(255 199 0 / .25);
  --color-accent-5:   rgb(255 199 0 / .05);
  }
}

@media (prefers-color-scheme: dark) {
  img,video {
    -webkit-filter: brightness(.8);
            filter: brightness(.8);
  }
}