body {
  /* Font */
  --ft-fam: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
    sans-serif;
  --ft-weight: 400;
  --ft-style: normal;

  --ft-xxl: clamp(2.25rem, 5.25vw, 25em);
  --ft-xl: clamp(2.25rem, 3.55vw, 25em);
  --ft-l: clamp(2rem, 2.5vw, 20rem);
  --ft-m: clamp(1.25rem, 1.25vw, 7.5rem);
  --ft-s: clamp(1rem, 1vw, 5rem);
  --ft-xs: clamp(0.825rem, 0.825vw, 4.125rem);
  --ft-xxs: clamp(0.725rem, 0.725vw, 4.125rem);

  --ft-l-lh: 0.975;
  --ft-m-lh: 1.1;
  --ft-s-lh: 1.4;

  --ft-m-ls: -0.0333em;
  
  /* Grid */
  --gr-gap: max(1rem, 1vw);
  --gr-c-l: repeat(7, 1fr);
  --gr-c-m: repeat(5, 1fr);
  --gr-c-s: repeat(2, 1fr);

  /* Clr */

  --clr-bg-100: rgba(224, 224, 224, 1);
  --clr-bg-0: rgba(224, 224, 224, 0);
  
  --clr-fg-100:rgba(28, 28, 28, 1);
  --clr-fg-50:rgba(28, 28, 28, 0.5);
  --clr-fg-25:rgba(28, 28, 28, 0.25);
  --clr-fg-0:rgba(28, 28, 28, 0);

  --clr-hl-100:rgb(28 28 28 / 1);
  --clr-hl-20: rgb(28 28 28 / 0.25);
  --clr-hl-05: rgb(28 28 28 / 0.025);

  /* transitions */

  --timing: cubic-bezier(0.9, 0, 0.1, 1);
  --transition: .33s var(--timing);

  --top-spacing: clamp(60px, 16vw, 9999rem);
}