/* Color
----------------------------------------------------------------------------- */

body.color-scheme--08 {
  --ft-clr: rgb(255 236 207 / 1);
  --ft-clr-50: rgb(255 236 207 / 0.5);
  --ft-clr-15: rgb(255 236 207 / 0.15);

  --bg-clr: rgb(84 27 27 / 1);
  --bg-clr-0: rgb(84 27 27 / 0);

  --hl-clr-20: rgb(255 236 207 / 0.35);
  --hl-clr-05: rgb(255 236 207 / 0);
}

body.color-scheme--07 {
  --ft-clr: rgb(243 230 207 / 1);
  --ft-clr-50: rgb(243 230 207 / 0.6);
  --ft-clr-15: rgb(243 230 207 / 0.22);

  --bg-clr: rgb(233 79 14 / 1);
  --bg-clr-0: rgb(233 79 14 / 0);

  --hl-clr-20: rgb(243 230 207 / 0.35);
  --hl-clr-05: rgb(243 230 207 / 0.05);
}
body.color-scheme--06 {
  --bg-clr: rgb(238 238 238 / 1);
  --bg-clr-15: rgb(238 238 238 / 0.5);
  --bg-clr-0: rgb(238 238 238 / 0);

  --ft-clr: rgb(228 47 37/ 1);
  --ft-clr-50: rgb(228 47 37/ 0.5);
  --ft-clr-33: rgb(228 47 37/ 0.33);
  --ft-clr-15: rgb(228 47 37/ 0.15);

  --hl-clr-20: rgb(255 199 0 / 0.35);
  --hl-clr-05: rgb(255 199 0 / 0.1);
}
body.color-scheme--05 {
  --ft-clr:rgb(38 23 13);
  --ft-clr-50:rgb(38 23 13 / .5);
  --ft-clr-33:rgb(38 23 13 / .33);
  --ft-clr-15:rgb(38 23 13 / .15);

  --hl-clr-20:rgb(38 23 13 / .1);
  --hl-clr-05:rgb(38 23 13 / 0.02);

  --bg-clr:rgb(255 236 207);
  --bg-clr-15:rgb(255 236 207 / .15);
  --bg-clr-0:rgb(255 236 207 / 0);
}


body.color-scheme--04 {
  --bg-clr: rgb(238 238 238 / 1);
  --bg-clr-15: rgb(238 238 238 / 0.5);
  --bg-clr-0: rgb(238 238 238 / 0);

  --ft-clr: rgb(28 28 28 / 1);
  --ft-clr-50: rgb(28 28 28 / 0.5);
  --ft-clr-33: rgb(28 28 28 / 0.33);
  --ft-clr-15: rgb(28 28 28 / 0.15);

  --hl-clr-20: rgb(28 28 28 / 0.1);
  --hl-clr-05: rgb(28 28 28 / 0);
}
body.color-scheme--03 {
    --ft-clr: rgb(19 23 56);
  --ft-clr-50: rgb(19 23 56 / 0.6);
  --ft-clr-15: rgb(19 23 56 / 0.22);

  --bg-clr: rgb(232 238 248 / 1);
  --bg-clr-0: rgb(232 238 248 / 0);

  --hl-clr-20: rgb(19 23 56 / 0.15);
  --hl-clr-05: rgb(19 23 56 / 0.05);
}
body.color-scheme--02 {
  --bg-clr: rgb(238 238 238 / 1);
  --bg-clr-15: rgb(238 238 238 / 0.5);
  --bg-clr-0: rgb(238 238 238 / 0);

  --ft-clr: rgb(37 0 201 / 1) ;
  --ft-clr-50: rgb(37 0 201 / 0.5);
  --ft-clr-33: rgb(37 0 201 / 0.33);
  --ft-clr-15: rgb(37 0 201 / 0.15);

  --hl-clr-20: rgb(255 199 0 / 0.3);
  --hl-clr-05: rgb(255 199 0 / 0.1);
}
body.color-scheme--01 {
  --ft-clr: rgb(232 238 248 / 1);
  --ft-clr-50: rgb(232 238 248 / 0.6);
  --ft-clr-15: rgb(232 238 248 / 0.22);

  --bg-clr: rgb(37 0 201 / 1);
  --bg-clr-0: rgb(37 0 201 / 0); 

  --hl-clr-20: rgb(195 235 241 / 0.33);
  --hl-clr-05: rgb(195 235 241 / 0);
}
body.color-scheme--00 {
  --ft-clr: rgb(238 238 238 / 1);
  --ft-clr-50: rgb(238 238 238 / 0.6);
  --ft-clr-15: rgb(238 238 238 / 0.22);

  --bg-clr: rgb(19 23 56 / 1);
  --bg-clr-0: rgb(19 23 56 / 0);

  --hl-clr-20: rgb(255 199 0 / 0.2);
  --hl-clr-05: rgb(255 199 0 / 0.05);
}


body.color-scheme--09 .image-overlay,
body.color-scheme--02 .image-overlay {
  display: none;
}
body.color-scheme--05 .image-overlay,
body.color-scheme--03 .image-overlay {
  background-color: var(--ft-clr);
  mix-blend-mode: screen;
}
body.color-scheme--05 .image-overlay {
  opacity: 0.5;
}
body.color-scheme--01 .image-overlay,
body.color-scheme--00 .image-overlay {
  background-color: var(--bg-clr);
  opacity: .33;
  mix-blend-mode: multiply;
}
body.color-scheme--00 .image-overlay {
  opacity: .33;
}

body.color-scheme--01 .image-overlay {
  opacity: .5;
}

