body {
  /* Font */
  --ft-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
    sans-serif;
  --ft-weight: 400;
  --ft-style: normal;

  --ft-xxl: clamp(2.25rem, 5.25vw, 25em);
  --ft-xl: clamp(2.25rem, 3.55vw, 25em);
  --ft-l: clamp(2rem, 2.5vw, 20rem);
  --ft-m: clamp(1.25rem, 1.25vw, 7.5rem);
  --ft-s: clamp(1rem, 1vw, 5rem);
  --ft-xs: clamp(0.825rem, 0.825vw, 4.125rem);
  --ft-xxs: .25rem;

  --ft-l-lh: 0.975;
  --ft-m-lh: 1.1;
  --ft-s-lh: 1.4;

  --ft-m-ls: -0.0333em;

  /* Color */
  --ft-clr: rgb(238 238 238 / 1);
  --ft-clr-50: rgb(238 238 238 / 0.6);
  --ft-clr-15: rgb(238 238 238 / 0.25);

  --bg-clr: rgb(24 24 69 / 1);
  --bg-clr-0: rgb(24 24 69 / 0);

  --hl-clr-20: rgb(238 238 238 / 0.1);
  --hl-clr-05: rgb(238 238 238 / 0);

  /* Sizing */
  --gs-xl: repeat(7, 1fr);
  --gs-l: repeat(5, 1fr);
  --gs-m: repeat(, 1fr);
  --gs-s: repeat(, 1fr);
  --gs-xs: repeat(, 1fr);

  --gap: clamp(1rem, 1vw, 100vw);
}
