:root {
  --clr_bg: #fafafa;
  --clr_ft: #131313;
  --lh-small: 1.15;
  --lh-default: 1.4;

  --sze-one: ;
  --sze-two: ;
  --sze-three: ;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
body {
  color: var(--clr_ft);
  background-color: var(--clr_bg);
  padding: 0;
  margin: 0;
}
main {
  padding: 1rem;
  margin: 0 auto;
  width: 100%;

  /*Typography*/
  font-family: "halyard-display", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: none;
  line-height: var(--lh-small);
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 12rem;
}
nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
section {
  margin-bottom: 2rem;
}
section div {
  overflow: hidden;
}
section div:hover span::after {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: blur(1px) sepia(100%) hue-rotate(160deg);
  filter: blur(1px) sepia(100%) hue-rotate(160deg);
}
section > div span::after {
  -webkit-filter: sepia(100%) hue-rotate(160deg);
  filter: sepia(100%) hue-rotate(160deg);
  content: "";
  -webkit-transition: 0.25s cubic-bezier(0.16, 0.79, 0.15, 0.8);
  -o-transition: 0.25s cubic-bezier(0.16, 0.79, 0.15, 0.8);
  transition: 0.25s cubic-bezier(0.16, 0.79, 0.15, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--bg-img);
  display: block;
  aspect-ratio: 7/4;
  width: 100%;
}
section > div span {
  overflow: hidden;
  display: block;
  aspect-ratio: 7/4;
  width: 100%;
}
footer {
  text-transform: uppercase;
  padding: 10rem 0 2rem 0;
  text-align: center;
}

:is(h1, h2, h3) {
  font-weight: 500;
}
h1 {
  font-size: clamp(1.65rem, 1vw, 1.85rem);
  font-weight: 400;
}
h3 {
  font-size: calc((1.33 - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
  font-weight: 700;
}
p {
  margin: 0.75rem 0;
  font-size: calc((1 - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
  white-space: pre-wrap;
  line-height: var(--lh-default);
}
p > a {
  display: inline;
}
a {
  color: var(--clr_ft);
  display: block;
  margin-bottom: 0.5rem;
}
nav a {
  font-size: calc((1 - 1) * calc(0.012 * min(100vh, 900px)) + 0.95rem);
}
p:last-child {
  margin-bottom: 0;
}
strong,
b {
  font-weight: 400;
}
.big {
  font-size: calc((1.5 - 1) * calc(0.012 * min(100vh, 900px)) + 1rem);
}
small {
  display: block;
}
[sel] {
  color: var(--clr_ft);
  margin: 0;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.125s ease-in-out;
  -o-transition: 0.125s ease-in-out;
  transition: 0.125s ease-in-out;
  line-height: 0.9;
}
[sel]:hover {
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}
[sel="true"] {
  text-decoration: underline;
}
[type="inset"] {
  max-width: 680px;
  margin-left: 4vw;
}
.cursor {
  display: none;
}
@media only screen and (min-width: 68rem) {
  * {
    cursor: none;
  }
  body {
    padding: 0 20vw;
  }
  #grid {
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr;
  }
  section > div:last-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  section > div:last-child span {
    aspect-ratio: 3/1;
  }
  section div:hover span::after {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-filter: blur(6px) sepia(100%) hue-rotate(160deg);
    filter: blur(6px) sepia(100%) hue-rotate(160deg);
  }
  .cursor {
    display: block;
    position: fixed;
    padding: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: 0.25s cubic-bezier(0.16, 0.79, 0.15, 0.8);
    -o-transition: 0.25s cubic-bezier(0.16, 0.79, 0.15, 0.8);
    transition: 0.25s cubic-bezier(0.16, 0.79, 0.15, 0.8);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
    mix-blend-mode: difference;
  }

  .grow,
  .grow-small {
    -webkit-transform: scale(2.85);
    -ms-transform: scale(2.85);
    transform: scale(2.85);
  }
  .grow-small {
    -webkit-transform: scale(1.85);
    -ms-transform: scale(1.85);
    transform: scale(1.85);
  }
}
::-moz-selection {
  background: rgba(255, 255, 0, 0.95);
}
::selection {
  background: rgba(255, 255, 0, 0.95);
}
.profpic {
  position: relative;
}
.profpic::before {
  display: block;
  content: "";
  position: absolute;
  width: clamp(100px, 60%, 500px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1;
  opacity: 0.75;
  top: -38vh;
  right: 0;
  z-index: -1;
  -webkit-filter: sepia(100%) hue-rotate(160deg);
  filter: sepia(100%) hue-rotate(160deg);
}
