/* Color
----------------------------------------------------------------------------- */
body.theme--04 {
  --c-fg-100: rgb(238 238 238 / 1);
  --c-fg-50: rgb(238 238 238 / 0.6);
  --c-fg-33: rgb(238 238 238 / 0.45);
  --c-fg-25: rgb(238 238 238 / 0.4);
  --c-fg-20: rgb(238 238 238 / 0.27);
  --c-fg-15: rgb(238 238 238 / 0.22);
  --c-fg-10: rgb(238 238 238 / 0.17);
  --c-fg-5: rgb(238 238 238 / 0.12);
  --c-fg-0: rgb(238 238 238 / 0);

  --c-bg-100: rgb(28 28 28 / 1);
  --c-bg-50: rgb(28 28 28 / 0.5);
  --c-bg-0: rgb(28 28 28 / 0);

  --c-a-100: rgb(255 199 0);
  --c-a-10: rgb(255 199 0 / 0.1);
  --c-a-5: rgb(255 199 0 / 0.05);
}
body.theme--03 {
  --c-fg-100: rgb(231 191 162);
  --c-fg-50: rgb(231 191 162 / 0.6);
  --c-fg-33: rgb(231 191 162 / 0.45);
  --c-fg-25: rgb(231 191 162 / 0.4);
  --c-fg-20: rgb(231 191 162 / 0.27);
  --c-fg-15: rgb(231 191 162 / 0.22);
  --c-fg-10: rgb(231 191 162 / 0.17);
  --c-fg-5: rgb(231 191 162 / 0.12);
  --c-fg-0: rgb(231 191 162 / 0);

  --c-bg-100: rgb(35 73 20 / 1);
  --c-bg-50: rgb(35 73 20 / 0.5);
  --c-bg-0: rgb(35 73 20 / 0);

  --c-a-100: rgb(255 199 0);
  --c-a-10: rgb(255 199 0 / 0.1);
  --c-a-5: rgb(255 199 0 / 0.05);
}
body.theme--02 {
  --c-fg-100: rgb(247 206 234 / 1);
  --c-fg-50: rgb(247 206 234 / 0.6);
  --c-fg-33: rgb(247 206 234 / 0.45);
  --c-fg-25: rgb(247 206 234 / 0.4);
  --c-fg-20: rgb(247 206 234 / 0.27);
  --c-fg-15: rgb(247 206 234 / 0.22);
  --c-fg-10: rgb(247 206 234 / 0.17);
  --c-fg-5: rgb(247 206 234 / 0.12);
  --c-fg-0: rgb(247 206 234 / 0);

  --c-bg-100: rgb(109 15 62 / 1);
  --c-bg-50: rgb(109 15 62 / 0.5);
  --c-bg-0: rgb(109 15 62 / 0);

  --c-a-100: rgb(255 255 255);
  --c-a-10: rgb(255 255 255 / 0.1);
  --c-a-5: rgb(255 255 255 / 0.05);
}
body.theme--01 {
  --c-fg-100: rgb(20 84 160 / 1);
  --c-fg-50: rgb(20 84 160 / 0.6);
  --c-fg-33: rgb(20 84 160 / 0.45);
  --c-fg-25: rgb(20 84 160 / 0.4);
  --c-fg-20: rgb(20 84 160 / 0.27);
  --c-fg-15: rgb(20 84 160 / 0.22);
  --c-fg-10: rgb(20 84 160 / 0.17);
  --c-fg-5: rgb(20 84 160 / 0.12);
  --c-fg-0: rgb(20 84 160 / 0);

  --c-bg-100: rgb(248 240 217 / 1);
  --c-bg-50: rgb(248 240 217 / 0.5);
  --c-bg-0: rgb(248 240 217 / 0);

  --c-a-100: rgb(10 10 10);
  --c-a-10: rgb(10 10 10 / 0.1);
  --c-a-5: rgb(10 10 10 / 0.025);
}
body.theme--00 {
  --c-fg-100: rgb(44 44 44);
  --c-fg-50: rgb(44 44 44 / 0.6);
  --c-fg-33: rgb(44 44 44 / 0.45);
  --c-fg-25: rgb(44 44 44 / 0.4);
  --c-fg-20: rgb(44 44 44 / 0.27);
  --c-fg-15: rgb(44 44 44 / 0.22);
  --c-fg-10: rgb(44 44 44 / 0.17);
  --c-fg-5: rgb(44 44 44 / 0.12);
  --c-fg-0: rgb(44 44 44 / 0);

  --c-bg-100: rgb(238 238 238 / 1);
  --c-bg-50: rgb(238 238 238 / 0.5);
  --c-bg-0: rgb(238 238 238 / 0);

  --c-a-100: rgb(255 199 0);
  --c-a-10: rgb(255 199 0 / 0.2);
  --c-a-5: rgb(255 199 0 / 0.1);
}

body.theme--04 .img-overlay {
  background-color: var(--c-bg-100);
  opacity: 0.33;
  mix-blend-mode: multiply;
}
body.theme--04 img {
  filter: brightness(0.8);
}
body.theme--03 .img-overlay {
  display: none;
}
body.theme--03 img {
  filter: brightness(.5);
}
body.theme--02 .img-overlay {
  background-color: var(--c-bg-100);
  opacity: 0.8;
  mix-blend-mode: lighten;
}
body.theme--02 img {
}
body.theme--01 .img-overlay {
  background-color: var(--c-fg-100);
  opacity: 0.8;
  mix-blend-mode: lighten;
}
body.theme--01 img {
}
body.theme--00 .img-overlay {
  display: none;
}
body.theme--00 img {
}
