/* Color
----------------------------------------------------------------------------- */
body.theme--04 {
  --c-fg-100: rgb(238 238 238 / 1);
  --c-fg-50: rgb(238 238 238 / 0.6);
  --c-fg-33: rgb(238 238 238 / 0.45);
  --c-fg-25: rgb(238 238 238 / 0.4);
  --c-fg-20: rgb(238 238 238 / 0.27);
  --c-fg-15: rgb(238 238 238 / 0.22);
  --c-fg-10: rgb(238 238 238 / 0.17);
  --c-fg-5: rgb(238 238 238 / 0.12);
  --c-fg-0: rgb(238 238 238 / 0);

  --c-bg-100: rgb(28 28 28 / 1);
  --c-bg-50: rgb(28 28 28 / .5);
  --c-bg-0: rgb(28 28 28 / 0);

  --c-a-100: rgb(255 199 0);
  --c-a-10: rgb(255 199 0 / 0.1);
  --c-a-5: rgb(255 199 0 / 0.05);
}
body.theme--03 {
  --c-fg-100: rgb(232 227 173 / 1);
  --c-fg-50: rgb(232 227 173 / 0.6);
  --c-fg-33: rgb(232 227 173 / 0.45);
  --c-fg-25: rgb(232 227 173 / 0.4);
  --c-fg-20: rgb(232 227 173 / 0.27);
  --c-fg-15: rgb(232 227 173 / 0.22);
  --c-fg-10: rgb(232 227 173 / 0.17);
  --c-fg-5: rgb(232 227 173 / 0.12);
  --c-fg-0: rgb(232 227 173 / 0);

  --c-bg-100: rgb(25 9 52 / 1);
  --c-bg-50: rgb(25 9 52 / .5);
  --c-bg-0: rgb(25 9 52 / 0);

  --c-a-100: rgb(103 250 255);
  --c-a-10: rgb(103 250 255 / 0.2);
  --c-a-5: rgb(103 250 255 / 0.1);
}
body.theme--02 {
  --c-fg-100: rgb(240 229 210 / 1);
  --c-fg-50: rgb(240 229 210 / 0.6);
  --c-fg-33: rgb(240 229 210 / 0.45);
  --c-fg-25: rgb(240 229 210 / 0.4);
  --c-fg-20: rgb(240 229 210 / 0.27);
  --c-fg-15: rgb(240 229 210 / 0.22);
  --c-fg-10: rgb(240 229 210 / 0.17);
  --c-fg-5: rgb(240 229 210 / 0.12);
  --c-fg-0: rgb(240 229 210 / 0);

  --c-bg-100: rgb(253 0 3 / 1);
  --c-bg-50: rgb(253 0 3 / .5);
  --c-bg-0: rgb(253 0 3 / 0);

  --c-a-100: rgb(255 255 255);
  --c-a-10: rgb(255 255 255 / 0.33);
  --c-a-5: rgb(255 255 255 / 0.15);
}
body.theme--01 {
  --c-fg-100: rgb(68 122 187 / 1);
  --c-fg-50: rgb(68 122 187 / 0.6);
  --c-fg-33: rgb(68 122 187 / 0.45);
  --c-fg-25: rgb(68 122 187 / 0.4);
  --c-fg-20: rgb(68 122 187 / 0.27);
  --c-fg-15: rgb(68 122 187 / 0.22);
  --c-fg-10: rgb(68 122 187 / 0.17);
  --c-fg-5: rgb(68 122 187 / 0.12);
  --c-fg-0: rgb(68 122 187 / 0);

  --c-bg-100: rgb(248 240 217 / 1);
  --c-bg-50: rgb(248 240 217 / .5);
  --c-bg-0: rgb(248 240 217 / 0);

  --c-a-100: rgb(253 59 0);
  --c-a-10: rgb(253 59 3 / 0.1);
  --c-a-5: rgb(253 59 3 / 0.05);
}
body.theme--00 {
  --c-fg-100: rgb(44 44 44);
  --c-fg-50: rgb(44 44 44 / 0.6);
  --c-fg-33: rgb(44 44 44 / 0.45);
  --c-fg-25: rgb(44 44 44 / 0.4);
  --c-fg-20: rgb(44 44 44 / 0.27);
  --c-fg-15: rgb(44 44 44 / 0.22);
  --c-fg-10: rgb(44 44 44 / 0.17);
  --c-fg-5: rgb(44 44 44 / 0.12);
  --c-fg-0: rgb(44 44 44 / 0);

  --c-bg-100: rgb(238 238 238 / 1);
  --c-bg-50: rgb(238 238 238 / .5);
  --c-bg-0: rgb(238 238 238 / 0);

  --c-a-100: rgb(255 199 0);
  --c-a-10: rgb(255 199 0 / 0.2);
  --c-a-5: rgb(255 199 0 / 0.1);
}

body.theme--04 .img-overlay {
  background-color: var(--c-bg-100);
  opacity: 0.33;
  mix-blend-mode: multiply;
}
body.theme--04 img {
  filter: brightness(.8);
}
body.theme--03 .img-overlay {
  background-color: var(--c-fg-100);
  mix-blend-mode: multiply;
}
body.theme--03 img {
}
body.theme--02 .img-overlay {
  background-color: var(--c-bg-100);
  opacity: .8;
  mix-blend-mode: lighten;
}
body.theme--02 img {
}
body.theme--01 .img-overlay {
  background-color: var(--c-fg-100);
  opacity: .8;
  mix-blend-mode: lighten;
}
body.theme--01 img{
}
body.theme--00 .img-overlay {
  display: none;
}
body.theme--00 img {
}

