@media all and (max-width: 1280px) {
  body {
    --g-s-l: repeat(4, [col-start] 1fr);
    --g-s-m: repeat(2, [col-start] 1fr);
    --g-s-s: repeat(2, [col-start] 1fr);
  }
  .overlay.columns .column:nth-child(n + 5) {
    display: none;
  }
  body section .introduction,
  body section > .content {
    grid-column: 2 / -1;
    position: relative;
  }
  body section .heading {
    grid-column: 3 / -1;
  }
  .work .content {
    grid-column: 1 / -1;
  }
}
@media all and (max-width: 1020px) {
  body section .heading {
    grid-column: 2 / -1;
  }
}
@media all and (max-width: 760px) {
  body {
    --g-s-l: repeat(3, [col-start] 1fr);
    --g-s-m: repeat(2, [col-start] 1fr);
    --g-s-s: 1fr;
  }
  .overlay.columns .column:nth-child(n + 4) {
    display: none;
  }
  body section .introduction,
  body section > .content {
    grid-column: 1 / -1;
    position: relative;
  }
  body section .heading {
    grid-column: 2 / -1;
  }
  body .work .content .item {
    aspect-ratio: 2 / 1;
  }
  .background .list {
    margin-left: 1.5em;
  }
}
@media all and (max-width: 500px) {
  body {
    --g-s-l: repeat(2, [col-start] 1fr);
    --g-s-m: 1fr;
    --g-s-s: 1fr;
  }
  .overlay.columns .column:nth-child(n + 3) {
    display: none;
  }
  body section .heading {
    grid-column: 1 / -1;
  }
  body .work .content .item {
    aspect-ratio: 5 / 4;
  }
}
