html {
  background-color: var(--color-background-100);
  color: var(--color-foreground-100);
}

/* -----------------------------------------------------------------------------
Overlays
----------------------------------------------------------------------------- */
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 98;
  width: calc(100% - 2 * var(--grid-gap));
}
body,
.overlay,
.welcome {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--grid-gap), 1fr)
    [content-start] min(
      100% - (var(--grid-gap) * 2),
      var(--responsive-grid-max-width)
    )
    [content-end]
    minmax(var(--grid-gap), 1fr) [full-width-end];
}
main,
.columns,
.welcome > * {
  grid-column: content;
  display: grid;
  grid-template-columns: var(--columns-large);
  gap: var(--grid-gap);
  position: relative;
}
body.menu-is-active {
  overflow: hidden;
}
/* -----------------------------------------------------------------------------
Navigation
----------------------------------------------------------------------------- */
nav {
  position: fixed;
  padding-top: clamp(100px, 45lvh, 300px);
}
.nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--grid-gap) / 4);
}
.nav-wrapper > p {
  color: var(--color-foreground-33);
}
.nav-wrapper > p > a {
  border: none;
}
.nav-wrapper > p.is-active {
  color: var(--color-foreground-100);
}
.nav-wrapper > p.is-active > a {
  color: var(--color-foreground-100);
  border-bottom: 1px solid var(--color-foreground-100);
}
/* Mobile menu
--------------- */
.mob-menu {
  display: none;
}
.mob-menu .icon {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon span {
  display: block;
  background-color: var(--color-foreground-100);
  height: 2px;
  width: 100%;
  transition: transform 300ms cubic-bezier(0.33, 0, 0.2, 1);
}
.icon span:first-child {
  transform: translateY(-4px);
}
.icon span:last-child {
  transform: translateY(4px);
}
body.menu-is-active .icon > span:first-child {
  transform: translateY(1px) rotate(45deg);
}
body.menu-is-active .icon > span:last-child {
  transform: translateY(-1px) rotate(-45deg);
}
.socials {
  display: flex;
  margin-top: 36px;
  gap: 0.5rem;
}
.socials a {
  border: unset;
}
.socials svg {
  fill: var(--color-foreground-33);
  width: 24px;
  height: 24px;
}
.socials a:hover svg {
  fill: var(--color-foreground-50);
}

.ending {
  display: flex;
  gap: calc(var(--grid-gap) / 2);
}
.button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: calc(var(--grid-gap) / 2) var(--grid-gap);
  background-color: var(--color-foreground-0);
  color: var(--color-foreground-100);
  border: 1px solid var(--color-foreground-100);
  border-radius: 0.5rem;
  transition: background-color 100ms cubic-bezier(0.33, 0, 0.2, 1),
    color 100ms cubic-bezier(0.33, 0, 0.2, 1);
}
.button svg {
  height: var(--font-size-regular);
  transform: rotate(45deg);
}
.button:hover {
  background-color: var(--color-foreground-100);
  color: var(--color-background-100);
}
/* -----------------------------------------------------------------------------
Overlay
----------------------------------------------------------------------------- */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: unset;
  z-index: 99;
  pointer-events: none;
}
.columns {
  width: 100%;
  height: 100%;
}
.overlay .column {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.overlay .column::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent-5);
  transition: height 1.5s cubic-bezier(0.33, 0, 0.2, 1);
  transition-delay: calc(0.08s + (var(--order) * 0.04s));
}
.overlay .column span {
  display: block;
  width: 1px;
  height: 100%;
  border-left: 1px solid var(--color-accent-25);
  transition: height 1.5s cubic-bezier(0.33, 0, 0.2, 1);
  transition-delay: calc(var(--order) * 0.04s);
}
/* -----------------------------------------------------------------------------
Sections
----------------------------------------------------------------------------- */
section {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: var(--columns-medium);
  padding: 0 0 300px 0;
  gap: var(--grid-gap);
}
section:first-of-type {
  padding: 300px 0;
}
section > .content {
  grid-column: 1/-1;
  position: relative;
  gap: calc(var(--grid-gap) / 4);
}
section > .ending,
section > .heading {
  grid-column: 3/-1;
  position: relative;
}
section > .heading {
  margin-bottom: clamp(60px, 5vw, 100px);
}
section h1 {
  font-size: var(--font-size-huge);
  line-height: 0.975;
  letter-spacing: -0.02em;
}
section h2 {
  font-size: var(--font-size-large);
  line-height: 1.16;
  letter-spacing: -0.01em;
  margin-bottom: calc(var(--grid-gap) / 2);
}
section h3 {
  font-size: var(--font-size-medium);
  line-height: var(--fs-n-lh);
  color: var(--c-bg-50);
}
/* -----------------------------------------------------------------------------
Section Intro
----------------------------------------------------------------------------- */
section#intro .options {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-user-select: none;
  user-select: none;
}
section#intro .content {
  grid-template-columns: var(--columns-medium);
  gap: calc(var(--grid-gap) / 2);
  width: 100%;
}
section#intro .options::-webkit-scrollbar {
  display: none;
}
section#intro .options .option {
  line-height: 20px;
  padding: 12px 10px;
  color: var(--color-foreground-33);
  white-space: nowrap;
  cursor: pointer;
}
section#intro .options .option:first-child {
  padding-left: 0;
}
section#intro .gradient-mask.left.is-visible,
section#intro .gradient-mask.right.is-visible {
  opacity: 1;
}
section#intro .gradient-mask {
  width: 80px;
  height: 44px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s ease;
}
section#intro .gradient-mask.right {
  right: 0;
  background: linear-gradient(
    to left,
    var(--color-background-100) 2%,
    var(--color-background-0) 100%
  );
}
section#intro .gradient-mask.left {
  left: 0;
  background: linear-gradient(
    to right,
    var(--color-background-100) 2%,
    var(--color-background-0) 100%
  );
}
section#intro .options .option.is-active {
  color: var(--color-foreground-100);
}
section#intro .text {
  min-height: calc(1em * 0.975 * 7);
  display: none;
}
section#intro .text.is-visible {
  display: block;
}
/* -----------------------------------------------------------------------------
Section Work
----------------------------------------------------------------------------- */
#work a {
  border: unset;
}
#work .content {
  display: grid;
  grid-template-columns: var(--columns-small);
  gap: var(--grid-gap);
}
#work .content > .item {
  position: relative;
  aspect-ratio: 5 / 4;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}
#work .content .item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}
#work .content .item > .information {
  color: rgb(238 238 238);
  position: absolute;
  width: 101%;
  height: 101%;
  top: 100%;
  left: 0;
  background-color: rgb(28 28 28 / 0.53);
  padding: var(--grid-gap);
  text-decoration: none;
  border: unset;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
#work .content .item > .information > p {
  color: rgb(238 238 238 / 0.5);
}
#work .content .item:hover > .information {
  top: 0;
}
/* -----------------------------------------------------------------------------
Section About
----------------------------------------------------------------------------- */
#about {
  padding: unset;
}
#about .content {
  grid-column: 3 / -1;
}
#about .content > p {
  margin-bottom: 1rem;
}
#about .list {
  display: grid;
  gap: 0 var(--grid-gap);
  grid-template-columns: var(--columns-small);
}
#about .list p {
  position: relative;
  margin-top: 0;
}
#about .list .column p:nth-child(n + 2) {
  margin-top: 0.25em;
}
#about .list p > span {
  color: var(--color-foreground-50);
}
/* -----------------------------------------------------------------------------
Section Background
----------------------------------------------------------------------------- */
#background .content {
  padding: unset;
  display: grid;
  grid-template-columns: var(--columns-small);
  gap: var(--grid-gap);
}
#background .content h2 {
  font-size: clamp(26px, 1.81vw, 64px);
}
section .introduction {
  display: grid;
  gap: var(--grid-gap);
  grid-column: 4 / -1;
}
#background .content h2 {
  padding: 80px 0 10px;
}
#background .content p {
  margin-top: 16px;
  max-width: 550px;
}
#background p .title {
  font-size: var(--font-size-medium);
}
#background p > .description,
#background p > .information {
  color: var(--color-foreground-50);
}
#background p > .information > span {
  color: var(--color-foreground-100);
}
#background .item p > span {
  margin-top: 8px;
  display: block;
}
/* -----------------------------------------------------------------------------
Section References
----------------------------------------------------------------------------- */
#references .content {
  padding: unset;
  display: grid;
  grid-template-columns: var(--columns-small);
  gap: var(--grid-gap);
}
#references .quote {
  font-size: clamp(26px, 1.65vw, 64px);
  padding-right: 20px;
}
#references .item p {
  padding-top: 10px;
}
#references .person {
  padding-right: 0.3em;
}
#references .role {
  color: var(--color-foreground-50);
}
/* -----------------------------------------------------------------------------
Section Case-intro
----------------------------------------------------------------------------- */
#case-intro .content {
  height: 1px;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.33, 0, 0.2, 1);
}
#case-intro .heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  grid-column: 1/-1;
}
#case-intro.is-active .content {
  height: 100%;
}
.display {
  transition: padding 300ms cubic-bezier(0.33, 0, 0.2, 1);
}
#case-intro .display {
  display: grid;
  grid-column: 1/-1;
  gap: var(--grid-gap);
  grid-template-columns: 1fr;
}
#case-intro .display > span {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: 1fr 1fr;
}
#case-intro img {
  border-radius: 0.5rem;
}
#case-intro h2 {
  margin: unset;
}

/* TESTASTE */
body {
  margin: 0;
}
main {
  transition: margin 1.5s cubic-bezier(0.33, 0, 0.2, 1);
}
body.entry-animation main {
  margin-top: 100lvh;
}
.welcome {
  position: fixed;
  align-items: center;
  top: 0;
  left: var(--grid-gap);
  right: var(--grid-gap);
  opacity: 0;
  transition: opacity .75s cubic-bezier(0.33, 0, 0.2, 1),
    bottom 1.5s cubic-bezier(0.33, 0, 0.2, 1);
  bottom: 100%;
}
body.entry-loading {
  overflow: hidden;
  pointer-events: none;
}
body.entry-animation .welcome {
  display: grid;
  bottom: 0;
}
body.entry-animation .welcome {
  opacity: 1;
}
body.entry-animation .overlay .column::after {
  height: 0;
}
body.entry-animation .overlay .column span {
  height: 0;
}

.welcome h1 {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 40px;
  animation: welcome 1.5s cubic-bezier(0.33, 0, 0.2, 1);
  font-size: var(--font-size-huge);
  grid-column: 1/-1;
}
nav {
  opacity: 1;
}
body.entry-animation nav {
  transition: opacity 1.5s cubic-bezier(0.33, 0, 0.2, 1);
  opacity: 0;
}
header {
  transition: top 1.5s cubic-bezier(0.33, 0, 0.2, 1);
}
body.entry-animation header {
  top: -10%;
}
@keyframes welcome {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
