body {
  color: var(--color-foreground-100);
  background-color: var(--color-background-100);
}

/* Grid overlay
----------------------------------------------------------------------------- */

.grid-overlay {
  z-index: 101;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.grid-overlay > .column-wrapper {
  display: grid;
  grid-template-columns: var(--grid-size-large);
  gap: var(--grid-gutter);
  pointer-events: none;
  height: 100%;
}
.grid-overlay .column {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.grid-overlay .column::after {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--color-accent-5);
  transition: height 1s ease;
  transition-delay: calc(0.08s + (var(--order) * 0.04s));
}
.grid-overlay .line {
  width: 1px;
  height: 100%;
  background-color: var(--color-accent-10);
  transition: height 1s ease;
  transition-delay: calc(var(--order) * 0.04s);
}
body.cover-is-visible .grid-overlay .column::after,
body.cover-is-visible .grid-overlay .column,
body.cover-is-visible .grid-overlay .line {
  height: 0%;
}

/* Section cover
----------------------------------------------------------------------------- */

body.is-loading {
  pointer-events: none;
}
body.is-loading .aside .options .option {
  transition: opacity 1s cubic-bezier(0.33, 0, 0.2, 1) 0.75s;
}
body.is-loading .main {
  position: relative;
  transform: none;
  transition: transform 1.5s cubic-bezier(0.33, 0, 0.2, 1);
}
body.is-loading section.cover {
  display: grid;
}
body.is-loading section.work .hero-image figure {
  visibility: hidden;
}
body.cover-is-visible .main {
  transform: translateY(115vh);
}
body.cover-is-visible section.cover {
  transform: translateY(-115vh);
  opacity: 1;
}
body.cover-is-visible .aside .options .option {
  opacity: 0;
  max-height: 100vlvh;
}
body.is-loading {
  overflow: hidden;
  pointer-events: none;
}
body.is-loading main {
  position: relative;
  transform: none;
  transition: transform 1.5s cubic-bezier(0.33, 0, 0.2, 1);
}
body.cover-is-visible section.cover {
  transform: translateY(-115vh);
  opacity: 1;
}
body.cover-is-visible main {
  transform: translateY(115vh);
}

section.cover {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  transform: translateY(-115vh);
  opacity: 0;
  transition: transform 1.5s cubic-bezier(0.33, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.33, 0, 0.2, 1) 0.25s;
  pointer-events: none;
  display: none;
  top: 0;
}
section.cover > .content {
  display: flex;
}
section.cover h1 {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 40px;
  animation: welcome 1.5s ease-in-out;
}
@keyframes welcome {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive grid layout
----------------------------------------------------------------------------- */

.resp-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.resp-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.resp-grid > .breakout {
  grid-column: breakout;
}

.resp-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

.flow > * + * {
  margin-top: var(--flow-spacing, 1em);
}

/* .section-padding {
  padding-block: 2.5rem;
} */

/* Sections
----------------------------------------------------------------------------- */

.grid {
  display: grid;
  grid-template-columns: var(--grid-size-large);
  /* padding: 0 var(--grid-margin); */
  gap: var(--grid-gutter);
}
section > .content {
  grid-column: 2 / -1;
  position: relative;
}
section h1 {
  font-size: var(--font-size-huge);
  line-height: 0.975;
  letter-spacing: -0.02em;
}
section h2 {
  font-size: var(--font-size-large);
  line-height: 1.16;
  letter-spacing: -0.01em;
}
section h3 {
  font-size: var(--font-size-regular);
  line-height: var(--font-size-regular-line-height);
  color: var(--color-foreground-50);
}

/* Section intro
----------------------------------------------------------------------------- */

section.intro > .content {
  padding: calc(var(--grid-xheight) - 11px) 0 20px 0;
}
section.intro .options {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-user-select: none;
  user-select: none;
}
section.intro .options .option {
  font-size: var(--font-size-regular);
  line-height: 20px;
  padding: 12px 10px;
  color: var(--color-foreground-33);
  white-space: nowrap;
  cursor: pointer;
}
section.intro .options .option:first-child {
  padding-left: 0;
}
section.intro .gradient-mask.left.is-visible,
section.intro .gradient-mask.right.is-visible {
  opacity: 1;
}
section.intro .gradient-mask {
  width: 80px;
  height: 44px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s ease;
}
section.intro .gradient-mask.right {
  right: 0;
  background: linear-gradient(
    to left,
    var(--color-background-100) 2%,
    var(--color-background-0) 100%
  );
}
section.intro .gradient-mask.left {
  left: 0;
  background: linear-gradient(
    to right,
    var(--color-background-100) 2%,
    var(--color-background-0) 100%
  );
}
section.intro .options .option.is-active {
  color: var(--color-foreground-100);
}
section.intro .text {
  min-height: calc(1em * 0.975 * 7);
  display: none;
}
section.intro .text.is-visible {
  display: block;
}

/* Section cover
----------------------------------------------------------------------------- */

section.work {
  margin: 50vh 0 20px 0;
}
.work .heading {
  padding-bottom: 80px;
  grid-column: 4 / -1;
  display: flex;
  flex-direction: column;
  gap: var(--grid-gutter);
}
.case {
  position: relative;
  aspect-ratio: 5 / 4;
  overflow: hidden;
}
.case img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}
.case:hover .case-overlay {
  opacity: 1;
}
.case .case-overlay {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-80);
  opacity: 0;
  padding: var(--grid-gutter);
  position: absolute;
}
.case-overlay p {
  color: var(--color-foreground-50);
}
.cases {
  display: grid;
  grid-template-columns: var(--grid-size-small);
  gap: var(--grid-gutter);
}

/* Quotes cover
----------------------------------------------------------------------------- */

section.references {
  margin: 30vh 0 20px 0;
}
section.references .quote {
  padding-right: 20px;
}
.opening-quote-mark {
  margin-left: -0.385em;
}
section.references .item p {
  padding-top: 10px;
}
section.references .person {
  padding-right: 0.3em;
}
section.references .role {
  color: var(--color-foreground-50);
}
.background .content,
.references .content {
  display: grid;
  grid-template-columns: var(--grid-size-small);
  gap: var(--grid-gutter);
}
section.background h2 {
  padding-top: 40px;
  padding-bottom: 0.14em;
}
section.background p {
  margin-top: 16px;
}

.background .content > :first-child {
  grid-column: 2 / -1;
}

section.about p {
  padding-top: 20px;
}
section.background p .title {
  font-size: var(--font-size-medium);
}
section.background p .description {
  color: var(--color-foreground-50);
}
.background .item p > span {
  margin-top: 8px;
  display: block;
}
