:root {
  --ff: Inter, sans-serif;
  --ff-s: "liga", "ss02", "ss03", "ss04", "ss06";
  --fw: 400;
  --fs: normal;

  --fs-xl: clamp(36px, 4.44vw, 82px);
  --fs-l: clamp(26px, 1.81vw, 64px);
  --fs-m: 26px;
  --fs-n: 16px;
  --fs-n-lh: 1.25;

  --rg-sp: clamp(16px, 1vw, 1vw);
  --rg-pd: clamp(16px, 2vw, 2vw);
  --rg-c-mw: 1780px;
  --rg-bo-mw: 1920px;
  --rg-bo-s: calc((var(--rg-bo-mw) - var(--rg-c-mw)) / 2);

  --c-fg-100: rgb(28 28 28 / 1);
  --c-fg-50: rgb(28 28 28 / 0.6);
  --c-fg-33: rgb(28 28 28 / 0.45);
  --c-fg-25: rgb(28 28 28 / 0.4);
  --c-fg-20: rgb(28 28 28 / 0.27);
  --c-fg-15: rgb(28 28 28 / 0.22);
  --c-fg-10: rgb(28 28 28 / 0.17);
  --c-fg-5: rgb(28 28 28 / 0.12);
  --c-fg-0: rgb(28 28 28 / 0);

  --c-bg-100: rgb(238 238 238 / 1);
  --c-bg-50: rgb(238 238 238 / 0.5);
  --c-bg-0: rgb(238 238 238 / 0);

  --c-a-100: rgb(255 199 0);
  --c-a-10: rgb(255 199 0 / 0.2);
  --c-a-5: rgb(255 199 0 / 0.1);

  --g-s-l: repeat(5, [col-start] 1fr);
  --g-s-m: repeat(3, [col-start] 1fr);
  --g-s-s: repeat(2, [col-start] 1fr);
  --g-g: clamp(16px, 1vw, 48px);

  --g-x-h: 220px;
}
