:root {
  --font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;

  --fs-xl: clamp(2.25rem, calc(2rem + 3vw), 100vw);
  --fs-l: clamp(2.5rem, calc(1rem + 1.75vw), 100vw);
  --fs-m: clamp(1.25rem, calc(0.25rem + 1vw), 100vw);
  --fs-s: clamp(1.15rem, calc(.25rem + 0.5vw), 100vw);

  --clr-bg-1: #f2f2f2;
  --clr-ft-1: #1e1e1e;
  --clr-ft-2: #FFC700;

  --grid-l: repeat(5, 1fr);
  --grid-m: repeat(3, 1fr);
  --grid-s: repeat(1, 1fr);
  --grid-nav: repeat(5, 1fr);

  --transition: cubic-bezier(0.87, 0, 0.04, 1) .3s;
  --side-padding: clamp(1rem, 20vw, 10rem);
}

*,
*:before,
*:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--clr-bg-1);
  font-family: sans-serif;
}

body {
  color: var(--clr-ft-1);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
  z-index: 0;
}

/* Define a transition duration during page visits */
html.is-changing .transition-fade {
  transition: opacity var(--transition), filter var(--transition);
  opacity: 1;
  filter: blur(0);
}

/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
  filter: blur(1px);
  opacity: 0;
}