/* keyframes */
@keyframes skit {
  from {
    filter: blur(2px);
    opacity: 0;
  }

  to {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }

  80% {
    opacity: 1;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

#drapes {
  --drapes-size: repeat(2, 1fr);

  display: grid;
  gap: 0 1rem;
  position: fixed;
  top: 0;
  width: calc(100% - 2rem);
  padding: 0 1rem;
  pointer-events: none;
  opacity: .1;
  grid-template-columns: var(--drapes-size);
  z-index: 99999;
}

#drapes>span {
  --dlay: 1;

  display: block;
  background-color: var(--clr-ft-2);
  animation: height .88s var(--transition) 1 forwards;
  height: 0vh;
  animation-delay: calc(var(--dlay) * .05s);

}

@keyframes height {
  from {
    height: 0vh;
  }

  to {
    height: 100vh;
  }
}

.ettans {
  position: relative;
}

#jagjag {
  height: 90%;
  width: auto;
  position: absolute;
  top: 0;
  right: -1vw;
  z-index: 99;
}

@media (min-width: 360px) {
  #jagjag {
    bottom: 0;
    top: auto;
  }
}

@media (min-width: 1200px) {
  #jagjag {
    height: 100%;
    right: 28%;
  }
}