@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: var(--ft-family);
  font-weight: normal;
  line-height: var(--ft-m-lh);
  letter-spacing: var(--ft-m-ls);
  
  font-size: var(--ft-s);
  color: var(--ft-clr);
  

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: var(--hl-clr);
}

.message > span,
#filosofi h2 span  {
  background: var(--clr-hl-50);
  display: inline;
  font-size: inherit;
  line-height: inherit;
}
.message > span::selection,
#filosofi h2 span::selection {
  background: none;
}

p + p {
    margin-top: 1.5em;
}
a {
    /* color: inherit; */
    text-decoration: none;
}

#contact > .info a,
p > a {
  text-decoration: underline;
text-underline-offset: 4px; /* Adjust the value */
}