@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap&text=↑→↓←");

@font-face {
  font-family: 'Tobias';
  font-weight: 200;
  src: url("assets/fonts/Tobias-Light.woff2") format('woff2');
}

p,
a,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -.03em;
  font-family: Inter, sans-serif;
  line-height: 1.1;
  font-weight: 300;
  margin: 0;
}

p>a {
  text-decoration: underline;
}

h1 {
  font-family: Tobias, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: clamp(1.45rem, 2vw, 100%);
}

h1>span.intro {
  font-family: Inter, sans-serif;
  font-weight: 400;

  --dlay: 1;
  animation: rise var(--transition) 1 forwards;
  opacity: 0;

  -webkit-animation-delay: calc(var(--dlay) * .25s);
  animation-delay: calc(var(--dlay) * .0825s);
}

h1>span.hidden {
  --dlay: 1;
  animation: skit .3s var(--transition) 1 forwards;
  opacity: 0;

  -webkit-animation-delay: calc(10s + (var(--dlay) * .25s));
  animation-delay: calc(1.5s + (var(--dlay) * .125s));
}

h1>span {
  display: inline;
}

p,
a {
  color: inherit;
  font-size: var(--fs-m);
  text-decoration: none;
  font-weight: 300;
  margin: 0;
  display: inline-block;
}

b {
  font-weight: 400;
}

main {
  padding: 1rem;
}

#intro-top {
  --intro-margin: 1.75rem;
  margin-bottom: var(--intro-margin);
  margin-top: 125px;
}

@media (min-width: 360px) {
  h1 {
    font-size: 7.95vw;
  }

  #drapes {
    --drapes-size: repeat(2, 1fr);
  }

}

@media (min-width: 500px) {
  h1 {
    font-size: 7.785vw;
  }

  #drapes {
    --drapes-size: repeat(4, 1fr);
    padding: 0 1rem;
    width: calc(100% - 2rem);
  }

  #intro-top {
    --intro-margin: 2rem;
  }
}

@media (min-width: 1000px) {

  main {
    padding: 0 2rem;
  }

  #drapes {
    padding: 0 2rem;
    width: calc(100% - 4rem);
  }

  #intro-top {
    --intro-margin: 4rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5.625vw;
  }

  #drapes {
    --drapes-size: repeat(7, 1fr);
  }
}