@media all and (max-width: 1280px) {
  body {
    --columns-large: repeat(4, 1fr);
    --columns-medium: repeat(3, 1fr);
  }
  body .overlay .column:nth-child(n + 5) {
    display: none;
  }
  body section > .ending,
  body section > .heading {
    grid-column: 2/-1;
  }
  body #references .heading {
    grid-column: 1/-1;
  }
  body section {
    grid-column: 2/-1;
  }
  body #about .heading,
  body #about .content {
    grid-column: 1/-1;
  }
  body section > .ending {
    grid-column: 3/-1;
  }
}
@media all and (max-width: 1020px) {
  body {
    --columns-medium: repeat(4, 1fr);
  }
  body #references .heading {
    grid-column: 3/-1;
  }
  body section {
    grid-column: 2/-1;
  }
  body section > .ending {
    grid-column: 1/-1;
    margin-top: 1rem;
  }
  body #about .content,
  body section > .heading {
    grid-column: 1/-1;
  }
  section:first-of-type,
  body .section {
    padding: clamp(150px, 5lvh, 300px) 0;
  }
  body #case-intro .content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  body #case-intro .content > span:first-child,
  body #case-intro .content > span:last-child {
    grid-column: auto;
  }
}
@media all and (max-width: 760px) {
  body {
    --columns-large: repeat(3, 1fr);
    --columns-medium: repeat(2, 1fr);
    --columns-small: 1fr;
  }
  body .overlay .column:nth-child(n + 4) {
    display: none;
  }
  body section {
    grid-column: 2 / -1;
  }
  body section > .heading {
    grid-column: 1/-1;
  }
  body #references .heading {
    grid-column: 2/-1;
  }
}
@media all and (max-width: 500px) {
  body {
    --columns-large: repeat(2, 1fr);
    --columns-medium: 1fr;
    --columns-small: 1fr;
  }
  body .overlay .column:nth-child(n + 3) {
    display: none;
  }
  body section,
  body #references .heading,
  body section > .heading {
    grid-column: 1/-1;
  }
  section#intro .content {
    display: -ms-grid;
    display: grid;
  }
  body section > .content {
    gap: var(--grid-gap);
  }
  body .mob-menu {
    display: block;
  }
  body nav {
    display: -ms-grid;
    display: grid;
    background-color: var(--color-background-100);
    gap: var(--grid-gap);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 97;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    pointer-events: none;
    overflow-y: scroll;
  }
  body .nav-wrapper {
    padding: 0 var(--grid-gap);
  }
  body .mob-menu {
    border-radius: 8px;
    padding: 1rem 0;
  }
  body nav {
    font-size: var(--font-size-medium);
  }
  body.menu-is-active nav {
    opacity: 1;
    pointer-events: all;
  }
}