body {
  background-color: var(--color-background-100);
  color: var(--color-foreground-100);
}

html.is-changing:not(.swup-native) .transition-fade {
  transition: 0.25s opacity;
  opacity: 1;
}

html.is-animating:not(.swup-native) .transition-fade {
  opacity: 0;
}
/*
------------------
Header
------------------
*/
#main-nav {
  font-size: var(--font-size-small);
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap);
  top: 0;
  background-color: var(--color-background-100);
  z-index: 999;
}
.body-scrolled #main-nav {
  border-bottom: 1px solid var(--color-foreground-100);
}
#main-nav,
#main-nav ul {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}
#main-nav svg {
  fill: var(--color-foreground-100);
  height: var(--font-size-regular);
}
#main-nav a,
#main-nav p {
  color: var(--color-foreground-100);
}

/*
------------------
Footer
------------------
*/
footer {
  background-color: var(--color-background-100);
  color: var(--color-foreground-100);

  height: calc(100lvh - 5px);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer_flex-wrapper,
.footer_flex-wrapper nav ul {
  font-size: var(--font-size-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0 var(--gap);
}
.footer_flex-wrapper li,
.intro-divider a {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.footer_flex-wrapper nav:first-child ul li svg {
  transform: rotate(-45deg);
}
.footer_flex-wrapper svg,
.intro-divider a svg {
  position: relative;
  display: block;
  height: var(--font-size-small);
  aspect-ratio: 1;
  fill: var(--color-foreground-33);
}
.footer_contact {
  font-size: var(--font-size-huge);
  font-family: var(--font-family-accent);
  margin: 9rem 0 0 0;
}
footer > .canvas-wrapper {
  margin-top: calc(var(--gap) * 0.5);
    min-height: 50%;
    width: 100%;
}

footer a,
footer p {
  color: inherit;
  text-decoration: none;
}
.footer_flex-wrapper:last-child,
footer a {
  color: var(--color-foreground-50);
}
/*
------------------
Main
------------------
*/
main {
  background-color: var(--color-background-100);
  color: var(--color-foreground-100);
  padding: var(--gap);
  display: grid;
  gap: var(--gap);
}
/*
------------------
Main
------------------
*/
section {
    display: grid;
    gap: var(--gap);
}
.intro-section {
    height: calc(100lvh - 60px - 1rem);
    align-items: end;
}
.homepage-wrapper {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: var(--gap);
}
.homepage-wrapper h1{
    grid-column: span 4;
}
.homepage-wrapper .canvas-wrapper {
    aspect-ratio: 4/1;
    grid-column: 1 / -1;
}

.intro-divider {
    border-top: 1px solid var(--color-foreground-33);
    padding-top: calc(var(--gap) * .5);
    margin-bottom: calc(var(--gap) * 5);
    font-size: var(--font-size-small);
}
.intro-work_grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: var(--grid-three);
}
.intro-divider,
.intro-work_child > span {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
}
.intro-divider {
    color: var(--color-foreground-33);
}
.intro-work_child > span > .tags {
    display: flex;
    gap: calc(var(--gap) * .5);
}
.intro-work_child img {
background-color: red;
aspect-ratio: 5/4;
}

.intro-news_grid {
    display: grid;
    gap: calc(var(--gap) * 3);
    grid-template-columns: var(--grid-five);
}
.intro-news_single {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    grid-column: 3 / -1;
}
.intro-news_single > .single-header,
.intro-news_single > .single-header ul {
    display: flex;
    gap: var(--gap);
}

/*
------------------
CANVAS
------------------
*/
.canvas-wrapper {
  position: relative;
}
canvas.ripple-canvas.touch {
  touch-action: none;
}
canvas.ripple-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
