@media all and (max-width: 1280px) {
  body {
  --font-size-huge: clamp(36px, 1.5vw, 999999rem);
  --font-size-large: clamp(32px, 1.25vw, 999999rem);
  --font-size-medium: clamp(24px, 1vw,999999rem);
  --font-size-regular: clamp(21px, .8vw, 999999rem);
  --font-size-small: clamp(16px, .7vw, 99999rem);
  --font-size-tiny: clamp(12px, .6vw, 99999rem);
}
.homepage-wrapper {
    grid-template-columns: 1fr;
}
.homepage-wrapper h1{
    grid-column: span 1;
}
}

@media all and (max-width: 1020px) {
  body {
  --grid-three: repeat(2,1fr);
  }
  footer .canvas-wrapper {
    min-height: 50%;
    width: 100%;
  }
  .homepage-wrapper .canvas-wrapper {
      aspect-ratio: 5/2
  }
.intro-news_single {
    grid-column: 2 / -1;
}
}

@media all and (max-width: 870px) {
  .footer_flex-wrapper nav ul {
    flex-direction: column;
}
  .footer_flex-wrapper nav ul {
    align-items: flex-start;
}
  .footer_flex-wrapper nav:last-child ul {
    align-items: flex-end;
}
}

@media all and (max-width: 760px) {
  body {
  --font-size-huge: clamp(32px, 3.25vw, 999999rem);
  --font-size-large: clamp(24px, 2.725vw, 999999rem);
  --font-size-medium: clamp(21px, 1.85vw,999999rem);
  --font-size-regular: clamp(16px, 1.125vw, 999999rem);
  --font-size-small: clamp(12px, 1vw, 99999rem);
  --font-size-tiny: clamp(9px, .6vw, 99999rem);
  --grid-three: 1fr;
  --grid-five: 1fr;
}
  footer .canvas-wrapper {
    min-height: 25%;
    width: 100%;
  }
  .homepage-wrapper .canvas-wrapper {
      aspect-ratio: 5/3
  }
.intro-news_single {
    grid-column: span 1;
}
}
@media all and (max-width: 600px) {
  footer .canvas-wrapper {
    min-height: 50%;
    width: 100%;
  }
}

/* Oklart */
/* 
@media all and (min-width: 760px) {
} 
*/
