@import url("https://fonts.cdnfonts.com/css/switzer");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family-accent: 'Switzer', sans-serif;
  --font-family-body: "Archivo", sans-serif;
  --font-weight: 300;
  --font-style: normal;
  --font-feature-settings: "liga", "ss02", "ss03", "ss04", "ss06";

  --font-size-huge: clamp(48px, 3vw, 999999rem);
  --font-size-large: clamp(36px, 2.25vw, 999999rem);
  --font-size-medium: clamp(26px, 1.85vw,999999rem);
  --font-size-regular: clamp(21px, 1.2vw, 999999rem);
  --font-size-small: clamp(16px, 1vw, 99999rem);
  --font-size-tiny: clamp(12px, .8vw, 99999rem);

  --font-size-regular-line-height: 1.25;

  --color-foreground-100: rgb(32 32 32 / 1);
  --color-foreground-50:  rgb(32 32 32 / 0.5);
  --color-foreground-33:  rgb(32 32 32 / 0.33);
  --color-background-100: rgb(238 238 238 / 1);
  --color-background-50: rgb(238 238 238 / .5);
  --color-background-33:   rgb(238 238 238 / 0.33);

  --gap: clamp(.75rem, .5vw, 99999rem);

  --grid-three: repeat(3,1fr);
  --grid-five: repeat(5,1fr);

}

body:has(main.inverted),
body:not(:has(main.inverted)) footer,
body.nav-inverted:not(:has(main.inverted)) header    {
  --color-background-100: rgb(32 32 32 / 1);
  --color-background-50:  rgb(32 32 32 / 0.5);
  --color-background-33:  rgb(32 32 32 / 0.33);
  --color-foreground-100: rgb(238 238 238 / 1);
  --color-foreground-50: rgb(238 238 238 / .5);
  --color-foreground-33:   rgb(238 238 238 / 0.33);
}
body:has(main.inverted) footer,
body:not(:has(main.inverted)) header,
body.nav-inverted header {
  --color-background-100: rgb(238 238 238 / 1);
  --color-background-50: rgb(238 238 238 / .5);
  --color-background-33:   rgb(238 238 238 / 0.33);
  --color-foreground-100: rgb(32 32 32 / 1);
  --color-foreground-50:  rgb(32 32 32 / 0.5);
  --color-foreground-33:  rgb(32 32 32 / 0.33);
}