:root {
  --lh-small: 1.125;
  --lh-display: 0.975;
  --lh-default: 1.4;
  --padding: 1.25rem;

  --brdr: 1px solid var(--ft-color);
  --staggering: 0.125s;
  --transition: cubic-bezier(0.92, 0.18, 0.05, 0.86) 0.33s;
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #e8eaed;
    --ft-color: #131316;
    --hl-color: #d5a525;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #131316;
    --ft-color: #e8eaed;
    --hl-color: #b8922a;
  }
}

/* reset */
* {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
:is(*):is(.display-ft) {
  font-family: "Modak", cursive;
  font-weight: 400 !important;
  line-height: var(--lh-display);
  margin: 0;
}
:is(h1, h2, h3):not(.display-ft) {
  text-transform: uppercase;
  word-break: break-word;
}
h1 {
  font-size: clamp(1.95rem, 6.75vw, 2.85rem);
}
h2 {
  font-size: clamp(1.75rem, 4vw, 2.35rem);
}
h3 {
  font-size: clamp(1.35rem, 3vw, 1.85rem);
}
h1.display-ft {
  font-size: clamp(3rem, 5vw, 6.85rem);
}
p {
  font-size: clamp(0.875rem, 3vw, 1rem);
  white-space: pre-wrap;
  line-height: var(--lh-default);
}
p:last-child {
  margin-bottom: 0;
}
p strong {
  font-weight: 500;
}
small {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="radio"] {
  display: none;
}
body {
  background: var(--bg-color);
  color: var(--ft-color);
  padding: 0;
  margin: 0;
  position: relative;

  font-family: "halyard-display", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: none;
  font-size: 1rem;
  line-height: 1.125;
}
/* reset */
main {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-snap-stop: always;
}
section:not(.about) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.marquee {
  color: var(--ft-color);
  background-color: var(--bg-color);
  width: 100%;
  border-top: var(--brdr);
  border-bottom: var(--brdr);
  padding: var(--padding) 0;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}
.marquee > span {
  --marquee-timing: 18s;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 2.5rem);
  padding-left: clamp(var(--padding), 2vw, 2.5rem);
  display: inline-block;
  margin: 0;
  animation: marquee var(--marquee-timing) linear infinite;
  line-height: 0.9;
}
.mrq-1 span {
  --marquee-timing: 12s;
  font-size: clamp(4rem, 25vw, 18rem);
  font-weight: 900;
  animation-direction: reverse;
}
.mrq-2:not(.display-ft) > span {
  font-weight: 900;
}
.mrq-2 span {
  --marquee-timing: 12s;
  font-size: clamp(3rem, 12.5vw, 8rem);
}
.mrq-3 span {
  --marquee-timing: 6s;
  font-size: clamp(2rem, 4vw, 5rem);
}
.mrq-3:not(.display-ft) > span {
  font-weight: 600;
}

@keyframes marquee {
  from {
    transform: translate(0%, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

/* style */
.a-container label {
  background: var(--bg-color);
  color: var(--ft-color);

  display: block;
  position: relative;
  cursor: pointer;
  padding: var(--padding);

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
label span {
  max-width: 90%;
  font-size: 1.25rem;
  font-weight: 400;
  display: inline-block;
}

.a-items:last-child label {
  border-bottom: none;
}

.a-container input:checked + label,
.a-container label:hover {
  background: var(--ft-color);
  color: var(--bg-color);
}

.a-container label::after,
.a-container label::before {
  content: "";
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: var(--ft-color);
  transition: all 0.2s;
  transform: translateY(50%);
}
.a-container label::after {
  transform: translateY(50%) rotate(90deg);
}
.a-container input:checked + label:after {
  background-color: var(--bg-color);
  transform: translateY(50%) rotate(-180deg) !important;
  opacity: 0;
}
.a-container input:checked + label:before {
  background-color: var(--bg-color);
  transform: translateY(50%) rotate(-90deg) !important;
}

.a-content {
  /*border-bottom: var(--brdr);*/
  max-height: 0;
  line-height: 1.4em;
  transition: var(--transition);
  overflow: hidden;
  padding: 0 var(--padding);
}

.a-container input:checked ~ .a-content {
  padding: var(--padding);
  max-height: 350px;
}

/*
*
*
*
GRIDS & FLEX
*
*
*
*/
.about-child {
  border-bottom: var(--brdr);
  display: flex;
  flex-direction: column;
}
.about-child > div {
  border-right: none;
}
.a-content {
  border-bottom: var(--brdr);
}
.about-child div:last-child .a-container:last-child .a-content {
  border-bottom: none;
}

@media only screen and (min-width: 768px), only screen and (min-height: 768px) and (orientation: landscape) {
  .about-child {
    flex-direction: row;
  }
  .about-child > div {
    border-right: var(--brdr);
  }
  .about-child > div:last-child {
    border-right: none;
  }
  .a-container:last-child .a-content {
    border-bottom: none;
  }
}

hr {
  border: 1px solid var(--hl-color);
  width: 1rem;
  margin: 0.2rem 0;
}
.intro {
  padding: var(--padding);
  text-align: left;
}
.intro div {
  width: 80vw;
  max-width: 560px;
}

section.showroom {
  background-color: var(--hl-color);
  min-height: 28rem;
  height: 100vw;
  max-height: 58rem;
}
