<div class="footer_flex-wrapper">
    {{ partial "menu.html" (dict "menuID" "socials" "page" .) }}
    <nav>
        <ul>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none"><path d="m8.181 13.253-1.278-1.264 4.439-4.44H.192V5.704h11.15L6.903 1.271 8.181 0l6.627 6.626-6.627 6.627Z"/></svg>
                <a href="#">Instagram</a>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none"><path d="m8.181 13.253-1.278-1.264 4.439-4.44H.192V5.704h11.15L6.903 1.271 8.181 0l6.627 6.626-6.627 6.627Z"/></svg>
                <a href="#">LinkedIn</a>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none"><path d="m8.181 13.253-1.278-1.264 4.439-4.44H.192V5.704h11.15L6.903 1.271 8.181 0l6.627 6.626-6.627 6.627Z"/></svg>
                <a href="#">Behance</a>
            </li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none"><path d="m8.181 13.253-1.278-1.264 4.439-4.44H.192V5.704h11.15L6.903 1.271 8.181 0l6.627 6.626-6.627 6.627Z"/></svg>
                <a href="#">Cookies</a>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none"><path d="m8.181 13.253-1.278-1.264 4.439-4.44H.192V5.704h11.15L6.903 1.271 8.181 0l6.627 6.626-6.627 6.627Z"/></svg>
                <a href="#">Privacy Policy</a>
            </li>
            <li>
                <p>© {{ now.Year }} AOE Studios AB</p>
            </li>
        </ul>
    </nav>
</div>

<div class="footer_contact">
    <p>hej(at)aoe.studio</p>
</div>

<div class="canvas-wrapper"><canvas class="ripple-canvas touch theme-aware"></canvas></div>
<div class="footer_flex-wrapper">
    <span></span>
    <p>try clicking somewhere</p>
</div>