:root {
  --color-scheme: auto;
  --font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.45rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-ft: #0e0e0e;
  --clr-secondary-ft: #8b8b8b;
  --clr-bg: #f8f8f8;

  --clr-primary-300: hsl(234, 100%, 45%);
  --clr-primary-400: hsl(219, 76%, 40%);
  --clr-primary-500: hsl(219, 76%, 25%);
  --clr-secondary-300: hsl(269, 75%, 55%);
  --clr-secondary-400: hsl(269, 75%, 40%);
  --clr-secondary-500: hsl(269, 75%, 25%);
  --clr-accent-200: hsl(358, 85%, 80%);
  --clr-accent-300: hsl(358, 72%, 65%);
  --clr-accent-400: hsl(358, 72%, 50%);
  --clr-accent-500: hsl(358, 72%, 35%);
}

/* RESET */
html {
  box-sizing: border-box;
  font-size: var(--fs-100);
  color-scheme: var(--color-scheme);
}

*,
*:before,
*:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

img {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* RESET */

body {
  color: var(--clr-primary-ft);
  background-color: var(--clr-bg);
}

/* TYPOGRAPHY */

html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
  filter: blur(0);
}

/* test */
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
  opacity: 0;
  filter: blur(2px);
}

.flow,
nav {
  --gap: clamp(1.5rem, 1vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(1540px, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];

  gap: clamp(5rem, 10vw, 14rem) 0;
}

.hide {
  display: none;
}

.flow>*,
nav>*,
footer>* {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}

/* Test */

nav {
  padding: 1rem 0;
  font-size: var(--fs-300);
  position: sticky;
  top: 0;
  z-index: 999;
}

nav * {
  color: var(--clr-secondary-ft);
  text-decoration: none;
  line-height: 1.1;
  font-size: inherit;
}

.nav_wrapper,
.nav_right,
.case_text {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav_right {
  gap: 3rem;
}

.nav_right div:last-child {
  display: flex;
  flex-direction: column;
}

.nav_right div:last-child a {
  position: relative;
}

.nav_right div:last-child a::before {
  content: "";
  top: 0;
  left: -.85rem;
  display: block;
  height: 75%;
  background-color: var(--clr-primary-300);
  transform: translateY(12.5%);
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: 100%;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .33s;
}

.nav_right div:last-child a:hover::before {
  left: .5rem;
}

.nav_left :first-child,
.nav_right> :first-child> :first-child {
  color: var(--clr-primary-ft);
}

.nav_banner {
  background-color: var(--clr-primary-300);
  text-align: center;
  color: var(--clr-bg);
  padding: .3rem;
}

.txt_s {
  font-size: var(--fs-300);
}

.heading.large {
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--fs-700);
  font-weight: 300;
  line-height: 1.1;
  max-width: 900px;
}

.header_intro {
  margin-top: clamp(2.5rem, 10vw, 8rem);
  position: relative;
}

.test {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  bottom: 0;
  background-color: var(--clr-primary-300);
  right: 0;
  width: clamp(3rem, 8vw, 12rem);
  border-radius: 100%;
}

.test svg {
  fill: none;
  stroke: var(--clr-bg);
  stroke-miterlimit: 10;
  stroke-width: 2;
}

.st0 {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.case_all {
  display: grid;
  gap: clamp(1rem, 2vw, 3rem);
}

.case_wrapper {
  display: grid;
  gap: clamp(1rem, 2vw, 3rem);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.case_all * {
  font-size: var(--fs-300);
}

.case_text {
  align-items: flex-end;
}

.case_img {
  overflow: hidden;
  position: relative;
  aspect-ratio: 2/1;
  border-radius: .25rem;
}

.case_img>img {
  width: 100%;
  position: absolute;
}

@keyframes example {
  0% {
    transform: translate(0, 0);
  }

  5% {
    transform: translate(7.5%, -7.5%);
  }

  10% {
    transform: translate(-100%, 100%);
  }

  10.001% {
    transform: translate(100%, -100%);
  }

  15% {
    transform: translate(-7.5%, 7.5%);
  }

  20% {
    transform: translate(7.5%, -7.5%);
  }

  35% {
    transform: translate(0, 0);
  }
}


@media only screen and (min-width: 930px) {}

@media only screen and (max-width: 480px) {
  .nav_right div:first-child {
    display: none;
  }

  .case_wrapper {
    display: grid;
    gap: clamp(1rem, 2vw, 3rem);
    grid-template-columns: repeat(1, 1fr);
  }
}