:root {
  --color-scheme: auto;
  --font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.45rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-ft: #0e0e0e;
  --clr-bg: #eeeeee;

  --clr-primary-300: hsl(219, 76%, 55%);
  --clr-primary-400: hsl(219, 76%, 40%);
  --clr-primary-500: hsl(219, 76%, 25%);
  --clr-secondary-300: hsl(269, 75%, 55%);
  --clr-secondary-400: hsl(269, 75%, 40%);
  --clr-secondary-500: hsl(269, 75%, 25%);
  --clr-accent-200: hsl(358, 85%, 80%);
  --clr-accent-300: hsl(358, 72%, 65%);
  --clr-accent-400: hsl(358, 72%, 50%);
  --clr-accent-500: hsl(358, 72%, 35%);
}

/* RESET */
html {
  box-sizing: border-box;
  font-size: var(--fs-100);
  color-scheme: var(--color-scheme);
}

*,
*:before,
*:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

img {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* RESET */

body {
  color: var(--clr-ft);
  background-color: var(--clr-bg);
}

/* TYPOGRAPHY */

html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
  filter: blur(0);
}

/* test */
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
  opacity: 0;
  filter: blur(2px);
}

.flow,
nav {
  --gap: clamp(1rem, 1vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(1540px, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];

  gap: 5rem 0;
}

.hide {
  display: none;
}

.flow>*,
nav>*,
footer>* {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}

@media only screen and (min-width: 930px) {

  .hero_subtitles-wrapper,
  .hero_subtitles,
  .case_item-desc,
  .footer_main {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .hero_subtitles {
    grid-column: 2;
  }

  .about>div {
    display: grid;
    gap: 1rem;
    grid-template-columns: .5fr 1fr 1fr;
  }

  .case_hero {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hide {
    display: block;
  }
}

.smalltxt * {
  font-size: var(--fs-300);
}

.bajs {
  display: flex;
  justify-content: space-between;
  color: #636363;
}

.diare {
  display: flex;
  gap: 5rem;
}

.bajs_kiss {
  display: flex;
  flex-direction: column;
}

.bajs_kiss * {
  position: relative;
}

.bajs_kiss>*::before {
  display: block;
  padding: calc(var(--fs-300) / 2);
  top: calc(var(--fs-300) * .335);
  background-color: #0017E4;
  content: "";
  left: -2rem;
  position: absolute;
  border-radius: 100%;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .33s;
}

.bajs_kiss>*:hover::before {
  mix-blend-mode: difference;
  left: -0.05rem;
}

.bajs_stor>p:first-of-type {
  color: black;
}



.kiss {
  background-color: #0017E4;
  color: white;
  text-wrap: nowrap;
  text-align: center;
  padding: .5rem 1rem;
}

main {
  min-height: 900vh;
}

nav {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background-color: var(--clr-bg);
  border-bottom: 1px solid #636363;
  margin-bottom: 2rem;
}


.pissespec {
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  max-width: 900px;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.bajs_case {
  display: grid;
  gap: clamp(1rem, 2vw, 3rem);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.case_item img {
  width: 100%;
  position: absolute;
}

.skitmask {
  overflow: hidden;
  position: relative;
  aspect-ratio: 2/1;
}

.skitigt {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


@media only screen and (max-width: 433px) {
  .bajs_case {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }

  .bajs_hide {
    display: none;
  }

}