:root {
  --color-scheme: dark;
  --font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.45rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-300: hsl(219, 76%, 55%);
  --clr-primary-400: hsl(219, 76%, 40%);
  --clr-primary-500: hsl(219, 76%, 25%);
  --clr-secondary-300: hsl(269, 75%, 55%);
  --clr-secondary-400: hsl(269, 75%, 40%);
  --clr-secondary-500: hsl(269, 75%, 25%);
  --clr-accent-200: hsl(358, 85%, 80%);
  --clr-accent-300: hsl(358, 72%, 65%);
  --clr-accent-400: hsl(358, 72%, 50%);
  --clr-accent-500: hsl(358, 72%, 35%);

/* */

}

/* RESET */
html {
  box-sizing: border-box;
  font-size: var(--fs-100);
  /* color-scheme: var(--color-scheme); */
  color: #0e0e0e;
}
body {
  background-color: #eeeeee;
}
*,
*:before,
*:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  line-height: 1.6;
}
ol,
ul {
  list-style: none;
}
img {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/* RESET */

/* TYPOGRAPHY */
.flow p {
  margin-bottom: 1rem;
}
b {
  font-weight: 500;
}
h1, h2, h3, h4 {
  margin-top: 1.5rem;
  text-wrap: balance;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 1rem;
}
h1 { 
  font-size: var(--fs-800);
}
h2 {
  font-size: var(--fs-700);
}
h3 {
  font-size: var(--fs-500);
}
/* TYPOGRAPHY */

html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
    filter: blur(0);
  }
  /* test */
  /* Define the styles for the unloaded pages */
  html.is-animating .transition-fade {
    opacity: 0;
    filter: blur(2px);
  }

.flow  {
    --gap: clamp(1rem, 1vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(1044px, 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);
  
    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end]
      var(--feature) [feature-end]
      var(--full) [full-end];
  }
nav,
footer {
  width: 100%;
  --gap: clamp(1rem, 1vw, 3rem);
  --content: min(1044px, 100% - var(--gap) * 2);

  display: grid;
  grid-template-columns: 1fr [content-start] var(--content) [content-end]1fr;
}

.flow > *, nav > *, footer > * {
  grid-column: content;
}
.popout {
  grid-column: popout;
}
.feature {
  grid-column: feature;
}
.full {
  grid-column: full;
}

.test-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
flex-direction: row;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100dvh - 8.5rem);
}
.hero h1:first-child {
  margin-bottom: clamp(.5rem, .125vw, 3rem);
}

.hero h1:last-child {
  margin-top: 0;
}
@media only screen and (min-width: 930px) {
  .hero_subtitles-wrapper,
  .hero_subtitles,
  .case_item-desc,
  .footer_main {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .hero_subtitles {
    grid-column: 2;
  }
  .about > div {
    display: grid;
    gap: 1rem;
    grid-template-columns: .5fr 1fr 1fr;
  }
  .case_hero {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.case_item {
  margin: clamp(2rem, 8vw, 4rem) 0;
}
.case_item > img {
  filter: grayscale(1) brightness(1.5);
  width: 100%;
}
.case_item:hover > img {
  filter: none;
}
svg {
  width: 100px;
}
svg path {
  fill: dark;
}
.case_desc-details {
  grid-column: 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer_aside {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr .5fr;
}
footer {
  min-height: calc(60dvh - 6rem);
  align-items: end;
  padding-bottom: clamp(2rem, calc(1rem + 2vh), 6rem);
}
.footer_main{
  gap: 1rem;
display: grid;
align-items: start;
}
footer h3, footer p:first-child {
  margin-top: 0;
}