@import url("https://fonts.cdnfonts.com/css/switzer");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family-accent: 'Switzer', sans-serif;
  --font-family-body: "Archivo", sans-serif;
  --font-weight: 300;
  --font-style: normal;
  --font-feature-settings: "liga", "ss02", "ss03", "ss04", "ss06";

  --font-size-huge: clamp(48px, 3vw, 999999rem);
  --font-size-large: clamp(36px, 2.25vw, 999999rem);
  --font-size-medium: clamp(26px, 1.85vw,999999rem);
  --font-size-regular: clamp(21px, 1.2vw, 999999rem);
  --font-size-small: clamp(16px, 1vw, 99999rem);
  --font-size-tiny: clamp(12px, .8vw, 99999rem);

  --font-size-regular-line-height: 1.25;

  --color-foreground-100: rgb(32 32 32 / 1);
  --color-foreground-50:  rgb(32 32 32 / 0.5);
  --color-foreground-33:  rgb(32 32 32 / 0.33);
  --color-background-100: rgb(238 238 238 / 1);
  --color-background-50: rgb(238 238 238 / .5);
  --color-background-33:   rgb(238 238 238 / 0.33);

  --gap: clamp(.75rem, .5vw, 99999rem);

  --grid-three: repeat(3,1fr);
  --grid-five: repeat(5,1fr);

}

body:has(main.inverted),
body:not(:has(main.inverted)) footer,
body.nav-inverted:not(:has(main.inverted)) header    {
  --color-background-100: rgb(32 32 32 / 1);
  --color-background-50:  rgb(32 32 32 / 0.5);
  --color-background-33:  rgb(32 32 32 / 0.33);
  --color-foreground-100: rgb(238 238 238 / 1);
  --color-foreground-50: rgb(238 238 238 / .5);
  --color-foreground-33:   rgb(238 238 238 / 0.33);
}
body:has(main.inverted) footer,
body:not(:has(main.inverted)) header,
body.nav-inverted header {
  --color-background-100: rgb(238 238 238 / 1);
  --color-background-50: rgb(238 238 238 / .5);
  --color-background-33:   rgb(238 238 238 / 0.33);
  --color-foreground-100: rgb(32 32 32 / 1);
  --color-foreground-50:  rgb(32 32 32 / 0.5);
  --color-foreground-33:  rgb(32 32 32 / 0.33);
}html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img,
video {
  width: 100%;
  height: auto;
  position: relative;
}html {
  box-sizing: border-box;
  font-family: var(--font-family-body);
  line-height: var(--font-size-regular-line-height);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  font-size: var(--font-size-regular);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight);
  line-height: 1.15;
  color: var(--color-foreground-100);
  /* margin-bottom: 0.625em; */
}

h1 {
  font-size: var(--font-size-huge);
}

h2 {
  font-size: var(--font-size-large);
}
h3 {
  font-size: var(--font-size-medium);
}


a {
  color: inherit;
  text-decoration: none;
}body {
  background-color: var(--color-background-100);
  color: var(--color-foreground-100);
}

html.is-changing:not(.swup-native) .transition-fade {
  transition: 0.25s opacity;
  opacity: 1;
}

html.is-animating:not(.swup-native) .transition-fade {
  opacity: 0;
}
/*
------------------
Header
------------------
*/
#main-nav {
  font-size: var(--font-size-small);
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap);
  top: 0;
  background-color: var(--color-background-100);
  z-index: 999;
}
.body-scrolled #main-nav {
  border-bottom: 1px solid var(--color-foreground-100);
}
#main-nav,
#main-nav ul {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}
#main-nav svg {
  fill: var(--color-foreground-100);
  height: var(--font-size-regular);
}
#main-nav a,
#main-nav p {
  color: var(--color-foreground-100);
}

/*
------------------
Footer
------------------
*/
footer {
  background-color: var(--color-background-100);
  color: var(--color-foreground-100);

  height: calc(100lvh - 5px);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer_flex-wrapper,
.footer_flex-wrapper nav ul {
  font-size: var(--font-size-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0 var(--gap);
}
.footer_flex-wrapper li,
.intro-divider a {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.footer_flex-wrapper nav:first-child ul li svg {
  transform: rotate(-45deg);
}
.footer_flex-wrapper svg,
.intro-divider a svg {
  position: relative;
  display: block;
  height: var(--font-size-small);
  aspect-ratio: 1;
  fill: var(--color-foreground-33);
}
.footer_contact {
  font-size: var(--font-size-huge);
  font-family: var(--font-family-accent);
  margin: 9rem 0 0 0;
}
footer > .canvas-wrapper {
  margin-top: calc(var(--gap) * 0.5);
    min-height: 50%;
    width: 100%;
}

footer a,
footer p {
  color: inherit;
  text-decoration: none;
}
.footer_flex-wrapper:last-child,
footer a {
  color: var(--color-foreground-50);
}
/*
------------------
Main
------------------
*/
main {
  background-color: var(--color-background-100);
  color: var(--color-foreground-100);
  padding: var(--gap);
  display: grid;
  gap: var(--gap);
}
/*
------------------
Main
------------------
*/
section {
    display: grid;
    gap: var(--gap);
}
.intro-section {
    height: calc(100lvh - 60px - 1rem);
    align-items: end;
}
.homepage-wrapper {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: var(--gap);
}
.homepage-wrapper h1{
    grid-column: span 4;
}
.homepage-wrapper .canvas-wrapper {
    aspect-ratio: 4/1;
    grid-column: 1 / -1;
}

.intro-divider {
    border-top: 1px solid var(--color-foreground-33);
    padding-top: calc(var(--gap) * .5);
    margin-bottom: calc(var(--gap) * 5);
    font-size: var(--font-size-small);
}
.intro-work_grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: var(--grid-three);
}
.intro-divider,
.intro-work_child > span {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
}
.intro-divider {
    color: var(--color-foreground-33);
}
.intro-work_child > span > .tags {
    display: flex;
    gap: calc(var(--gap) * .5);
}
.intro-work_child img {
background-color: red;
aspect-ratio: 5/4;
}

.intro-news_grid {
    display: grid;
    gap: calc(var(--gap) * 3);
    grid-template-columns: var(--grid-five);
}
.intro-news_single {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    grid-column: 3 / -1;
}
.intro-news_single > .single-header,
.intro-news_single > .single-header ul {
    display: flex;
    gap: var(--gap);
}

/*
------------------
CANVAS
------------------
*/
.canvas-wrapper {
  position: relative;
}
canvas.ripple-canvas.touch {
  touch-action: none;
}
canvas.ripple-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
@media all and (max-width: 1280px) {
  body {
  --font-size-huge: clamp(36px, 1.5vw, 999999rem);
  --font-size-large: clamp(32px, 1.25vw, 999999rem);
  --font-size-medium: clamp(24px, 1vw,999999rem);
  --font-size-regular: clamp(21px, .8vw, 999999rem);
  --font-size-small: clamp(16px, .7vw, 99999rem);
  --font-size-tiny: clamp(12px, .6vw, 99999rem);
}
.homepage-wrapper {
    grid-template-columns: 1fr;
}
.homepage-wrapper h1{
    grid-column: span 1;
}
}

@media all and (max-width: 1020px) {
  body {
  --grid-three: repeat(2,1fr);
  }
  footer .canvas-wrapper {
    min-height: 50%;
    width: 100%;
  }
  .homepage-wrapper .canvas-wrapper {
      aspect-ratio: 5/2
  }
.intro-news_single {
    grid-column: 2 / -1;
}
}

@media all and (max-width: 870px) {
  .footer_flex-wrapper nav ul {
    flex-direction: column;
}
  .footer_flex-wrapper nav ul {
    align-items: flex-start;
}
  .footer_flex-wrapper nav:last-child ul {
    align-items: flex-end;
}
}

@media all and (max-width: 760px) {
  body {
  --font-size-huge: clamp(32px, 3.25vw, 999999rem);
  --font-size-large: clamp(24px, 2.725vw, 999999rem);
  --font-size-medium: clamp(21px, 1.85vw,999999rem);
  --font-size-regular: clamp(16px, 1.125vw, 999999rem);
  --font-size-small: clamp(12px, 1vw, 99999rem);
  --font-size-tiny: clamp(9px, .6vw, 99999rem);
  --grid-three: 1fr;
  --grid-five: 1fr;
}
  footer .canvas-wrapper {
    min-height: 25%;
    width: 100%;
  }
  .homepage-wrapper .canvas-wrapper {
      aspect-ratio: 5/3
  }
.intro-news_single {
    grid-column: span 1;
}
}
@media all and (max-width: 600px) {
  footer .canvas-wrapper {
    min-height: 50%;
    width: 100%;
  }
}

/* Oklart */
/* 
@media all and (min-width: 760px) {
} 
*/
