body {
  /* Font */
  --ft-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
    sans-serif;
  --ft-weight: 400;
  --ft-style: normal;

  --ft-xl: clamp(2.25rem, 3.55vw, 25em);
  --ft-l: clamp(2rem, 2.5vw, 20rem);
  --ft-m: clamp(1.25rem, 1.25vw, 7.5rem);
  --ft-s: clamp(1rem, 1vw, 5rem);
  --ft-xs: clamp(0.825rem, 0.825vw, 4.125rem);
  --ft-xxs: .25rem;

  --ft-l-lh: 0.975;
  --ft-m-lh: 1.1;
  --ft-s-lh: 1.4;

  --ft-m-ls: -0.0333em;

  /* Color */
  --bg-clr: #eee;
  --bg-clr-0: #eeeeee00;

  --ft-clr: #2500c0;
  --ft-clr-50: #2500c050;
  --ft-clr-33: #2500c033;
  --ft-clr-15: #2500c015;

  --hl-clr: #ffc700;
  --hl-clr-20: #ffc70020;
  --hl-clr-05: #ffc70005;

  /* Sizing */
  --gs-xl: repeat(7, 1fr);
  --gs-l: repeat(5, 1fr);
  --gs-m: repeat(, 1fr);
  --gs-s: repeat(, 1fr);
  --gs-xs: repeat(, 1fr);

  --gap: clamp(1rem, 1vw, 100vw);
}
