:root {
  --lh-small: 1.125;
  --lh-display: 0.975;
  --lh-default: 1.4;
  --padding: 1.25rem;
  --hv-color: #fff;
  --brdr: 1px solid var(--ft-color);
  --staggering: 0.045s;
  --transition: 0.33s ease-in-out;
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #e8eaed;
    --ft-color: #131316;
    --hl-color: #d5a525;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #131316;
    --ft-color: #e8eaed;
    --hl-color: #a57900;
  }
}
*::-moz-selection {
  background-color: var(--hl-color);
  color: #131316;
  mix-blend-mode: darken;
}
*::selection {
  background-color: var(--hl-color);
  color: #131316;
  mix-blend-mode: darken;
}
* {
  scroll-behavior: smooth;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}
html {
  height: -webkit-fill-available;
}
body {
  min-width: 380px;
  overflow: hidden;
  font-family: "halyard-display", sans-serif;
  font-style: normal;
  text-transform: none;

  background: var(--bg-color);
  color: var(--ft-color);
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  min-height: -webkit-fill-available;
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}
section,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-margin: 2vh;
}
footer {
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  overflow: hidden;
  max-width: 820px;
  border-top: var(--brdr);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  scroll-snap-align: start;
  margin: auto;
}
footer > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1.5rem;
}
footer div * {
  margin: 0;
}
footer > div:first-child {
  height: 100%;
  border-right: var(--brdr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  min-height: clamp(12rem, 25vh, 100rem);
}
footer > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
footer div a {
  position: absolute;
  right: 0;
}
section {
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  scroll-snap-align: start;
  padding: var(--padding);
  padding-bottom: 6rem;
  min-height: 100vh;
}
section > div {
  max-width: 820px;
  width: 100%;
}
.spacer {
  display: block;
  height: 20rem;
}
.test {
  display: block;
  height: 1px;
  scroll-snap-align: end;
}
:is(*):is(.display-ft) {
  font-family: "Modak", cursive;
  font-weight: 400;
  margin-left: -0.35rem;
  line-height: var(--lh-display);
}
:is(h1, h2, h3):not(.display-ft) {
  line-height: var(--lh-default);
}
p {
  letter-spacing: 0.025rem;
  margin-bottom: 0.65rem;
  font-size: clamp(0.875rem, 3vw, 1rem);
  white-space: pre-wrap;
  line-height: var(--lh-default);
}
p strong {
  font-weight: 500;
}
small {
  letter-spacing: 0.025rem;
  display: block;
}
h1.display-ft {
  font-size: clamp(3.45rem, 12.5vw, 5.85rem);
  line-height: 0.765;
}
h2.display-ft {
  font-size: clamp(2.45rem, 5.5vw, 3.85rem);
  line-height: 0.765;
}
p:last-child {
  margin-bottom: 0;
}
small {
  line-height: var(--lh-default);
  display: block;
}
hr {
  width: 2rem;
  margin: 0.25rem 0 1rem -0.25rem;
  border: 1px solid var(--hl-color);
}
#trial {
  padding-top: 20vh;
}
nav {
  z-index: 9999;
  gap: 0.33rem;
  padding: var(--padding) 0;
  max-width: 820px;
  width: calc(100% - 2.2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}
#contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-color)), to(rgba(255, 0, 0, 0)));
  background-image: -o-linear-gradient(top, var(--bg-color), rgba(255, 0, 0, 0));
  background-image: linear-gradient(180deg, var(--bg-color), rgba(255, 0, 0, 0));
}
#contact.nav-scrolled {
  padding: var(--padding) 0;
  position: absolute;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  top: 0;
}
#gradient-btm {
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--bg-color)), to(rgba(255, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, var(--bg-color), rgba(255, 0, 0, 0));
  background-image: linear-gradient(0deg, var(--bg-color), rgba(255, 0, 0, 0));
  pointer-events: none;
  height: 5rem;
  margin: auto;
  position: fixed;
  bottom: 0;
}
footer div a,
.case-grid > div a,
nav > * {
  overflow: hidden;
  text-decoration: none;
  border: var(--brdr);
  color: var(--ft-color);
  background-color: var(--bg-color);
  padding: 0.85rem var(--padding);
  white-space: nowrap;

  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: clamp(0.875rem, 3vw, 1rem);
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}
form .form-details button:hover::before,
footer div a:hover::before,
.case-grid > div a:hover::before,
nav > *:hover::before {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
form .form-details button::before,
footer div a::before,
.case-grid > div a::before,
nav > *::before {
  z-index: 999;
  content: "";
  position: absolute;
  width: 110%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--hv-color);
  mix-blend-mode: difference;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}
.inverted {
  color: var(--bg-color);
  background-color: var(--ft-color);
}

.case-grid {
  gap: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5rem 1fr;
  grid-template-columns: 1fr 1fr;
}
.case-grid > div {
  overflow: hidden;
  border: var(--brdr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--padding);
}
.case-grid div a {
  white-space: nowrap;
}
div.ar2 span {
  width: 67.5%;
}
.ar1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  aspect-ratio: 1;
  -ms-grid-column-span: 1;
  grid-column: span 1;
}
div.ar1 a {
  margin-top: var(--padding);
}
.ar2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  aspect-ratio: 2/1;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.ar3 {
  padding: var(--padding) 0 !important;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  background-color: var(--hl-color);
}

/* ACCORDIONS */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="radio"] {
  display: none;
}
.a-container {
}
.a-container label {
  overflow: hidden;
  background: var(--bg-color);
  color: var(--ft-color);

  display: block;
  position: relative;
  cursor: pointer;
  padding: var(--padding);

  -webkit-transition: var(--transition);

  -o-transition: var(--transition);

  transition: var(--transition);
}
label span {
  max-width: 90%;
  font-size: clamp(1rem, 3vw, 1rem);
  font-weight: 400;
  display: inline-block;
}

.a-items:last-child label {
  border-bottom: none;
}

.a-container input:checked + label,
.a-container label:hover {
  background: var(--ft-color);
  color: var(--bg-color);
}

.a-container label::after,
.a-container label::before {
  content: "";
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: var(--ft-color);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(33%);
  -ms-transform: translateY(33%);
  transform: translateY(33%);
}
.a-container label::after {
  -webkit-transform: translateY(33%) rotate(90deg);
  -ms-transform: translateY(33%) rotate(90deg);
  transform: translateY(33%) rotate(90deg);
}
.a-container input:checked + label:after {
  background-color: var(--bg-color);
  -webkit-transform: translateY(33%) rotate(-180deg) !important;
  -ms-transform: translateY(33%) rotate(-180deg) !important;
  transform: translateY(33%) rotate(-180deg) !important;
  opacity: 0;
}
.a-container input:checked + label:before {
  background-color: var(--bg-color);
  -webkit-transform: translateY(33%) rotate(-90deg) !important;
  -ms-transform: translateY(33%) rotate(-90deg) !important;
  transform: translateY(33%) rotate(-90deg) !important;
}

.a-content {
  /*border-bottom: var(--brdr);*/
  max-height: 0;
  line-height: 1.4em;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  overflow: hidden;
  padding: 0 var(--padding);
  border-bottom: var(--brdr);
}
.a-content * {
  margin: 0 !important;
}
.a-container:last-child .a-content {
  border-bottom: none;
}

.a-container input:checked ~ .a-content {
  padding: var(--padding);
  max-height: 350px;
}

.marquee {
  width: 100%;
  --gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  text-transform: uppercase;
  font-size: clamp(2rem, 15.5vw, 8.435rem);
  font-weight: 900;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-animation: scroll 10s linear infinite;
  animation: scroll 10s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
}
@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - var(--gap)));
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - var(--gap)));
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important;
  }
}

/* TEST */
.modal {
  background-color: var(--bg-color);
  position: fixed;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  top: -100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal.open {
  top: 0;
  visibility: visible;
}
.modal-container {
  padding: var(--padding);
  width: 100%;

  max-width: 820px;
  position: relative;
}
.modal-close {
  --size: 2rem;
  position: absolute;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--ft-color);
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
  top: var(--padding);
  right: var(--padding);
  width: var(--size);
  height: var(--size);
}
.modal-close::after,
.modal-close::before {
  content: " ";
  display: block;
  border-bottom: var(--brdr);
  width: 100%;
}

.modal-close::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-close::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.marquee__content > li span {
  -webkit-text-fill-color: var(--hl-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--ft-color);
}

form .form-details {
  gap: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
}

form .form-details input[type="text"],
form .form-details input[type="email"] {
  width: 100%;
  -ms-grid-column-span: 1;
  grid-column: span 1;
  padding: var(--padding);
  color: var(--ft-color);
  background-color: var(--bg-color);
  border: var(--brdr);
  outline: none;
  font-size: 14px;
  border-radius: 0;
}

form .form-details textarea {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  border-radius: 0;
  border: var(--brdr);
  padding: var(--padding);
  color: var(--ft-color);
  background-color: var(--bg-color);
  border: var(--brdr);
  outline: none;
  font-size: clamp(0.875rem, 3vw, 1rem);
  resize: none;
}

form .form-details button {
  text-transform: uppercase;
  border: var(--brdr);
  padding: var(--padding);
  color: var(--ft-color);
  background-color: var(--bg-color);
  font-weight: 600;
  outline: none;
  font-size: clamp(0.875rem, 3vw, 1rem);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 3 / 3;
}

.hidden1,
.hidden2 {
  opacity: 0;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
}
.hidden1.right,
.hidden2.right {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}
.show,
.show.right {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.hidden1,
.hidden2 {
  opacity: 0;
  -webkit-transition: cubic-bezier(0.06, 0.8, 0.35, 1.1) 0.45s;
  -o-transition: cubic-bezier(0.06, 0.8, 0.35, 1.1) 0.45s;
  transition: cubic-bezier(0.06, 0.8, 0.35, 1.1) 0.45s;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
}
.hidden1.right,
.hidden2.right {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}
.show,
.show.right {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
*:is(.hidden1, .hidden2):nth-child(2) {
  -webkit-transition-delay: calc(var(--staggering) * 1);
  -o-transition-delay: calc(var(--staggering) * 1);
  transition-delay: calc(var(--staggering) * 1);
}
*:is(.hidden1, .hidden2):nth-child(3) {
  -webkit-transition-delay: calc(var(--staggering) * 2);
  -o-transition-delay: calc(var(--staggering) * 2);
  transition-delay: calc(var(--staggering) * 2);
}
*:is(.hidden1, .hidden2):nth-child(4) {
  -webkit-transition-delay: calc(var(--staggering) * 3);
  -o-transition-delay: calc(var(--staggering) * 3);
  transition-delay: calc(var(--staggering) * 3);
}
*:is(.hidden1, .hidden2):nth-child(5) {
  -webkit-transition-delay: calc(var(--staggering) * 4);
  -o-transition-delay: calc(var(--staggering) * 4);
  transition-delay: calc(var(--staggering) * 4);
}
*:is(.hidden1, .hidden2):nth-child(6) {
  -webkit-transition-delay: calc(var(--staggering) * 5);
  -o-transition-delay: calc(var(--staggering) * 5);
  transition-delay: calc(var(--staggering) * 5);
}
*:is(.hidden1, .hidden2):nth-child(7) {
  -webkit-transition-delay: calc(var(--staggering) * 6);
  -o-transition-delay: calc(var(--staggering) * 6);
  transition-delay: calc(var(--staggering) * 6);
}
*:is(.hidden1, .hidden2):nth-child(8) {
  -webkit-transition-delay: calc(var(--staggering) * 7);
  -o-transition-delay: calc(var(--staggering) * 7);
  transition-delay: calc(var(--staggering) * 7);
}
*:is(.hidden1, .hidden2):nth-child(9) {
  -webkit-transition-delay: calc(var(--staggering) * 8);
  -o-transition-delay: calc(var(--staggering) * 8);
  transition-delay: calc(var(--staggering) * 8);
}
*:is(.hidden1, .hidden2):nth-child(10) {
  -webkit-transition-delay: calc(var(--staggering) * 9);
  -o-transition-delay: calc(var(--staggering) * 9);
  transition-delay: calc(var(--staggering) * 9);
}
*:is(.hidden1, .hidden2):nth-child(11) {
  -webkit-transition-delay: calc(var(--staggering) * 10);
  -o-transition-delay: calc(var(--staggering) * 10);
  transition-delay: calc(var(--staggering) * 10);
}
*:is(.hidden1, .hidden2):nth-child(12) {
  -webkit-transition-delay: calc(var(--staggering) * 11);
  -o-transition-delay: calc(var(--staggering) * 11);
  transition-delay: calc(var(--staggering) * 11);
}
