{{ define "main" }}

<section class="intro-section">
  <div class="homepage-wrapper">
    <h1>Brand-first design studio based Gothenburg, Sweden. We blend strategy, brand identity and integrated campaigns into experiences that resonate and make an impact.</h1>
    <div class="canvas-wrapper"><canvas class="ripple-canvas automatic theme-dark"></canvas></div>
  </div>
</section>

<section class="intro-work_wrapper">
  <div class="intro-divider">
    <p>Work</p>
    <a href="/work/">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14"><path d="m8.181 13.253-1.278-1.264 4.439-4.44H.192V5.704h11.15L6.903 1.271 8.181 0l6.627 6.626-6.627 6.627Z"/></svg>
      View All
    </a>
  </div>

  <div class="intro-work_grid">
  {{ range where site.RegularPages "Section" "work" }}
      <a href="{{ .RelPermalink }}" class="intro-work_child ">
      <img src="" alt="">
      <span>
        <ul class="tags">
          {{ range .Params.tags }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
        <p>Read more</p>
      </span>
    </a>

{{ end }}
  </div>
</section>

<section class="intro-about_wrapper">
  <div class="intro-divider">
    <p>News, Thoughts & Monologues</p>
    <a href="/news/">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14"><path d="m8.181 13.253-1.278-1.264 4.439-4.44H.192V5.704h11.15L6.903 1.271 8.181 0l6.627 6.626-6.627 6.627Z"/></svg>
      View All
    </a>
  </div>

  <div class="intro-news_grid">
    {{ range where site.RegularPages "Section" "news" }}
    <article class="intro-news_single">

<span class="single-header">
        <ul class="tags">
        {{ range .Params.tags }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
      <small>{{ .Date.Format "2006-01-02" }}</small>
</span>

      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <p>{{ .Plain | truncate 240 }}</p>
    </article>
    {{ end }}
  </div>
</section>

{{ end }}